{% extends 'home/base/base.html' %}
{% load static %}

{% block title %}Creative Finserve{% endblock title %}

{% block other_body %}
    <!-- cards -->
    <section>
        <div class="container">
            <div style="padding: 10vh 0;">
                <div class="section-title col-lg-10 mx-auto text-center">
                    <h1 class="mb-4">Contact Us For Financial Aid</h1>
                    <p>
                        We offer the full spectrum of Financial Services to help everyone from all sphere of life. At Creative Finserve, we’re dedicated in helping to solve their toughest challenges and providing a one stop financial Solutions with expert advice from Loans,
                        Insurance to Real Estate all under one roof.
                    </p>
                </div>
                <div class="example col-md-12 ml-auto mr-auto">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card h-100">
                                <i class="card-img-top fa fa-balance-scale fa-3x" style="
                                        text-align: center;
                                        padding: 50px;
                                        padding-top: 80px;
                                    "></i>
                                <div class="card-body">
                                    <h4 class="card-title mb-4">
                                        Know your Eligibility
                                    </h4>
                                    <h6 class="card-subtitle text-muted mb-2">
                                        Want a Free Consultation
                                    </h6>
                                    <p class="card-text text-justify">
                                        Irrespective of your occupation or profession, you should check your eligibility before approaching a bank. Check your eligibility with the help of a few clicks. Do remember, the eligibility features varies from profile and bank to bank...
                                    </p>
                                    <div class="text-right">
                                        <a href="#" class="btn btn-info">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card h-100">
                                <i class="card-img-top fa fa-money fa-3x" style="
                                        text-align: center;
                                        padding: 50px;
                                        padding-top: 80px;
                                    "></i>
                                <div class="card-body">
                                    <h4 class="card-title mb-4">
                                        Are you in Debt?
                                    </h4>
                                    <h6 class="card-subtitle text-muted mb-2">
                                        Want a Free Consultation
                                    </h6>
                                    <p class="card-text text-justify">
                                        Debt management programs help you manage your debt by consolidating your accounts into one manageable monthly payment. As a result, you’ll be able to consolidate all your EMI's into Single EMI. You’ll enjoy reduced interest and an improved...
                                    </p>
                                    <div class="text-right">
                                        <a href="#" class="btn btn-info">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card h-100">
                                <i class="card-img-top fa fa-rupee fa-3x" style="
                                        text-align: center;
                                        padding: 50px;
                                        padding-top: 80px;
                                    "></i>
                                <div class="card-body">
                                    <h4 class="card-title mb-4">
                                        Join as a Partner
                                    </h4>
                                    <h6 class="card-subtitle text-muted mb-2">
                                        Want a Free Consultation
                                    </h6>
                                    <p class="card-text text-justify">
                                        Join the Creative Finserve Partner Network As a partner, you’ll gain instant access to exclusive Marketing Materials, CRM Software and App. Make Mobile your Office and view all the status at the click of your fingertips.Join the fastest growing...
                                    </p>
                                    <div class="text-right">
                                        <a href="#" class="btn btn-info">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- achievement -->
    <section style="background-color: #00171f;">
        <div class="container">
            <div class="row mb-5 text-center text-white p-4">
                <div class="col-md-4 achievement-anime">
                    <span style="font-size: 70px; color: #00a8e8;"
                        ><i class="fa fa-clock-o"></i
                    ></span>
                    <h4 style="color: white;">Awards</h4>
                    <p>
                        Awarded as ‘Best Tech Trend Setter'. awarded as the
                        “Best Tech Trend Setter in the emerging 2020. This
                        award has helped us to add a booster and to act more
                        prudently to upscale services more digitally.
                    </p>
                </div>
                <div class="col-md-4 achievement-anime">
                    <span style="font-size: 70px; color: #00a8e8;"
                        ><i class="fa fa-weixin"></i
                    ></span>
                    <h4 style="color: white;">Partner Program</h4>
                    <p>
                        Lifetime Earning Opportunities created with multiple
                        Financial Services under one roof. 2000+ Partners
                        enrolled till date and earning a passive Income.
                    </p>
                </div>
                <div class="col-md-4 achievement-anime">
                    <span style="font-size: 70px; color: #00a8e8;"
                        ><i class="fa fa-user"></i
                    ></span>
                    <h4 style="color: white;">Customers</h4>
                    <p>
                        15000+ Happy & satisfied customers served across PAN
                        India.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Services -->
    <section>
        <div class="container pt-5 mb-5">
            <div class="section-title col-lg-8 col-md-10 mx-auto text-center">
                <h1>Loans</h1>
                <p>
                    In finance, a loan is the lending of money by one or more individuals, organizations, or other entities to other individuals, organizations etc. Take a look at all types of loans :
                </p>
            </div>
            <div class="row row-cols-1 row-cols-md-2 justify-content-center">
                <div class="col mb-4">
                    <div class="h-100 card loans-anime" style="max-width: 540px;">
                        <div class="row no-gutters align-items-center">
                            <div class="col-4">
                                <img src="static/images/mobile-post-colour.svg" class="card-img p-3" alt="..." />
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        Personal Loan
                                    </h4>
                                    <p class="card-text d-none d-lg-block">
                                        Unsecured Personal Loan is issued and supported only by the borrower's credit worthiness, rather than by a type of collateral. An Unsecured Personal Loan is one that is obtained without...
                                        <a href="#" class="stretched-link">Read More</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="h-100 card loans-anime" style="max-width: 540px;">
                        <div class="row no-gutters align-items-center">
                            <div class="col-4">
                                <img src="static/images/mobile-post-colour.svg" class="card-img p-3" alt="..." />
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        Business Loan
                                    </h4>
                                    <p class="card-text d-none d-lg-block">
                                        Unsecured Business Loan are available to small and medium enterprises for all your working capital needs. Capital is a vital component for the success of commerce today. Irrespective of...
                                        <a href="#" class="stretched-link">Read More</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="h-100 card loans-anime" style="max-width: 540px;">
                        <div class="row no-gutters align-items-center">
                            <div class="col-4">
                                <img src="static/images/mobile-post-colour.svg" class="card-img p-3" alt="..." />
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h4 class="card-title">Home Loan</h4>
                                    <p class="card-text d-none d-lg-block">
                                        Home Loan is offered to individuals who wish to purchase or construct a house. The property is mortgaged to the lender as a security till the repayment of the Home Loan is done. The bank...
                                        <a href="#" class="stretched-link">Read More</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="h-100 card loans-anime" style="max-width: 540px;">
                        <div class="row no-gutters align-items-center">
                            <div class="col-4">
                                <img src="static/images/mobile-post-colour.svg" class="card-img p-3" alt="..." />
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        Loan Against Property
                                    </h4>
                                    <p class="card-text d-none d-lg-block">
                                        The term 'loan against property' refers to a situation in which the borrower takes a loan from a bank or financial institution where the security for the loan is a property that is owned by...
                                        <a href="#" class="stretched-link">Read More</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="h-100 card loans-anime" style="max-width: 540px;">
                        <div class="row no-gutters align-items-center">
                            <div class="col-4">
                                <img src="static/images/mobile-post-colour.svg" class="card-img p-3" alt="..." />
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h4 class="card-title">MSME Loans</h4>
                                    <p class="card-text d-none d-lg-block">
                                        Finance is the key to success in any business, and this holds especially true for MSMEs. Small businesses require funds to buy equipment, refill inventory, expand operations and...
                                        <a href="#" class="stretched-link">Read More</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="h-100 card loans-anime" style="max-width: 540px;">
                        <div class="row no-gutters align-items-center">
                            <div class="col-4">
                                <img src="static/images/mobile-post-colour.svg" class="card-img p-3" alt="..." />
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h4 class="card-title">Insurance</h4>
                                    <p class="card-text d-none d-lg-block">
                                        Insurance is a means of protection from financial loss. It is a form of risk management, primarily used to hedge against the risk of a contingent or uncertain loss. An entity which provides...
                                        <a href="#" class="stretched-link">Read More</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="h-100 card loans-anime" style="max-width: 540px;">
                        <div class="row no-gutters align-items-center">
                            <div class="col-4">
                                <img src="static/images/mobile-post-colour.svg" class="card-img p-3" alt="..." />
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h4 class="card-title">Real Estate</h4>
                                    <p class="card-text d-none d-lg-block">
                                        Real estate is property consisting of land and the buildings on it, along with its natural resources such as crops, minerals or water; immovable property of this nature; an interest...
                                        <a href="#" class="stretched-link">Read More</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Step for better understanding-->
    <section>
        <div class="container pt-5 mb-5">
            <div class="section-title col-lg-8 col-md-10 mx-auto text-center">
                <h1 class="mb-4">Steps/Guide</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem molestiae ratione rerum natus repellat mollitia, magnam, ipsa distinctio, tenetur minus exercitationem provident
                </p>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card p-4 steps-anime" style="max-width: 1080px;">
                        <div class="row">
                            <div class="col-sm-1 text-center">
                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <a class="nav-link active mb-4" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">1</a>
                                    <a class="nav-link mb-4" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">2</a>
                                    <a class="nav-link mb-4" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">3</a>
                                </div>
                            </div>
                            <div class="col-sm-11">
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p>
                                                    Real Estate is India's rapidly developing business segment and multiple financial institutions including banking and non banking are offering Loans for New Construction.
                                                </p>
                                            </div>
                                            <div class="col-sm-7">
                                                <img class="img-fluid rounded" src="static/images/1.jpg" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p>
                                                    Loan sanctioned to construct or develop a new real estate project including both residential as well as commercial is known as Loan for New Construction. An individual or a firm or company engaged in the business of real estate development or construction
                                                    (Builder) can avail this loan.
                                                </p>
                                            </div>
                                            <div class="col-sm-7">
                                                <img class="img-fluid rounded" src="static/images/2.jpg" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p>
                                                    Project finance is the long term financing of infrastructure based upon the projected cash flows of the project rather than the balance sheets of the project sponsors. The loans are most commonly non-recourse loans, which are secured by the project static
                                                    and paid
                                                </p>
                                            </div>
                                            <div class="col-sm-7">
                                                <img class="img-fluid rounded" src="static/images/3.jpg" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- calculator Link  -->
    <section style="background-color: #00171f;">
        <div class="container py-3 mt-5 mb-5">
            <div class="row py-5">
                <div class="col-sm-8 mb-2 text-anime-cal">
                    <h2 class="text-white text-sm-right text-center">
                        Check Out our Calculator
                    </h2>
                </div>
                <div class="col-sm-4">
                    <div class="text-sm-left text-center cal-anime">
                        <button type="button" class="btn btn-info ml-sm-4">
                            Learn More
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Ask your questions-->
    <section>
        <div class="container pt-5 mb-5">
            <div class="row">
                <div class="col">
                    <div class="card faq-anime">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div class="col-sm-12">
                                    <h4 class="card-title text-center mb-4">
                                        Ask Your Questions
                                    </h4>
                                    <div class="contactFormContainer container">
                                        <form class="needs-validation mb-4" novalidate action="">
                                            <div
                                                class="form-group row no-gutters"
                                            >
                                                <legend
                                                    class="col-sm-3 col-form-label control-label"
                                                >
                                                    Select From
                                                </legend>
                                                <div class="col-sm-9">
                                                    <div
                                                        class="form-check form-check-inline"
                                                    >
                                                        <input
                                                            class="form-check-input radio-inline"
                                                            type="radio"
                                                            name="inlineRadioOptions"
                                                            id="inlineRadio1"
                                                            value="option1"
                                                            onclick="display()"
                                                            required
                                                        />
                                                        <label
                                                            class="form-check-label contol-label"
                                                            for="inlineRadio1"
                                                            >Loans</label
                                                        >
                                                    </div>

                                                    <div
                                                        class="form-check form-check-inline"
                                                    >
                                                        <input
                                                            class="form-check-input radio-inline"
                                                            type="radio"
                                                            name="inlineRadioOptions"
                                                            id="inlineRadio2"
                                                            value="option2"
                                                            onclick="display()"
                                                            required
                                                        />
                                                        <label
                                                            class="form-check-label control-label"
                                                            for="inlineRadio2"
                                                            >Insurance</label
                                                        >
                                                    </div>
                                                    <div
                                                        class="form-check form-check-inline"
                                                    >
                                                        <input
                                                            class="form-check-input radio-inline"
                                                            type="radio"
                                                            name="inlineRadioOptions"
                                                            id="inlineRadio3"
                                                            value="option3"
                                                            onclick="display()"
                                                            required
                                                        />
                                                        <label
                                                            class="form-check-label control-label"
                                                            for="inlineRadio3"
                                                            >Real
                                                            Estate</label
                                                        >
                                                    </div>
                                                    <div
                                                        class="form-check form-check-inline"
                                                    >
                                                        <input
                                                            class="form-check-input radio-inline"
                                                            type="radio"
                                                            name="inlineRadioOptions"
                                                            id="inlineRadio4"
                                                            value="option4"
                                                            onclick="display()"
                                                            required
                                                        />
                                                        <label
                                                            class="form-check-label control-label"
                                                            for="inlineRadio4"
                                                            >Debt
                                                            Consolidation</label
                                                        >
                                                    </div>
                                                    <div
                                                        class="form-check form-check-inline"
                                                    >
                                                        <input
                                                            class="form-check-input radio-inline"
                                                            type="radio"
                                                            name="inlineRadioOptions"
                                                            id="inlineRadio5"
                                                            value="option5"
                                                            onclick="display()"
                                                            required
                                                        />
                                                        <label
                                                            class="form-check-label control-label"
                                                            for="inlineRadio5"
                                                            >Join as a
                                                            Partner</label
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="option1 d-none"
                                                id="o1"
                                            >
                                                <div
                                                    class="form-group row no-gutters"
                                                >
                                                    <label
                                                        class="col-sm-3"
                                                    ></label>
                                                    <div class="col-sm-9">
                                                        <select
                                                            class="form-control"
                                                            required
                                                        >
                                                            <option
                                                                value=""
                                                                disabled
                                                                >Choose your
                                                                Option</option
                                                            >
                                                            <option
                                                                value="pl"
                                                                >PL</option
                                                            >
                                                            <option
                                                                value="bl"
                                                                >BL</option
                                                            >
                                                            <option
                                                                value="hl"
                                                                >HL</option
                                                            >
                                                            <option
                                                                value="lap"
                                                                >LAP</option
                                                            >
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="option2 d-none"
                                                id="o2"
                                            >
                                                <div
                                                    class="form-group row no-gutters"
                                                >
                                                    <label
                                                        class="col-sm-3"
                                                    ></label>
                                                    <div class="col-sm-9">
                                                        <select
                                                            class="form-control"
                                                            required
                                                        >
                                                            <option
                                                                value=""
                                                                disabled
                                                                >Choose your
                                                                Option</option
                                                            >
                                                            <option
                                                                value="gi"
                                                                >General
                                                                Insurance</option
                                                            >
                                                            <option
                                                                value="li"
                                                                >Life
                                                                Insurance</option
                                                            >
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="option3 d-none"
                                                id="o3"
                                            >
                                                <div
                                                    class="form-group row no-gutters"
                                                >
                                                    <label
                                                        class="col-sm-3"
                                                    ></label>
                                                    <div class="col-sm-9">
                                                        <select
                                                            class="form-control"
                                                            required
                                                        >
                                                            <option
                                                                value=""
                                                                disabled
                                                                >Choose your
                                                                Option</option
                                                            >
                                                            <option
                                                                value="l"
                                                                >Location</option
                                                            >
                                                            <option
                                                                valu="a1"
                                                                >area
                                                                1</option
                                                            >
                                                            <option
                                                                value="a2"
                                                                >area
                                                                2</option
                                                            >
                                                            <option
                                                                value="a3"
                                                                >area
                                                                3</option
                                                            >
                                                            <option
                                                                value="a4"
                                                                >area
                                                                4</option
                                                            >
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="option4 d-none"
                                                id="o4"
                                            >
                                                <div
                                                    class="form-group row no-gutters"
                                                >
                                                    <label
                                                        class="col-sm-3"
                                                    ></label>
                                                    <div class="col-sm-9">
                                                        <div
                                                            class="custom-file"
                                                        >
                                                            <input
                                                                type="file"
                                                                class="custom-file-input"
                                                                id="customFile"
                                                            />
                                                            <label
                                                                class="custom-file-label control-label"
                                                                for="customFile"
                                                                >Choose
                                                                file</label
                                                            >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="option5 d-none"
                                                id="o5"
                                            >
                                                <div
                                                    class="form-group row no-gutters"
                                                >
                                                    <label
                                                        class="col-sm-3"
                                                    ></label>
                                                    <div class="col-sm-9">
                                                        <button
                                                            type="button"
                                                            class="btn btn-info"
                                                        >
                                                            Join as a
                                                            Partner
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="" id="no-join-form">
                                                <div
                                                    class="form-group row no-gutters"
                                                >
                                                    <label
                                                        for="validationCustom01"
                                                        class="col-sm-3 col-form-label control-label"
                                                        >Name</label
                                                    >
                                                    <div class="col-sm-9">
                                                        <input
                                                            type="text"
                                                            class="form-control"
                                                            id="validationCustom01"
                                                            placeholder=" Name"
                                                            required
                                                        />
                                                        <div
                                                            class="invalid-feedback"
                                                        >
                                                            Please Fill out
                                                            This Field
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="form-group row no-gutters"
                                                >
                                                    <label
                                                        for="validationCustom03"
                                                        class="col-sm-3 col-form-label contol-label"
                                                        >Email</label
                                                    >
                                                    <div class="col-sm-9">
                                                        <input
                                                            type="text"
                                                            class="form-control"
                                                            id="validationCustom03"
                                                            placeholder="Email-address"
                                                            required
                                                        />
                                                        <div
                                                            class="invalid-feedback"
                                                        >
                                                            Please Fill out
                                                            This Field
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="form-group row no-gutters"
                                                >
                                                    <label
                                                        for="validationCustom04"
                                                        class="col-sm-3 col-form-label control-label"
                                                        >Phone Number</label
                                                    >
                                                    <div class="col-sm-9">
                                                        <input
                                                            type="text"
                                                            class="form-control"
                                                            id="validationCustom04"
                                                            placeholder="Phone Number"
                                                            required
                                                        />
                                                        <div
                                                            class="invalid-feedback"
                                                        >
                                                            Please Fill out
                                                            This Field
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="form-group row no-gutters"
                                                >
                                                    <label
                                                        for="validationCustom06"
                                                        class="col-sm-3 col-form-label control-label"
                                                        >Location</label
                                                    >
                                                    <div class="col-sm-9">
                                                        <input
                                                            type="text"
                                                            class="form-control"
                                                            id="validationCustom06"
                                                            placeholder="Location"
                                                            required
                                                        />
                                                        <div
                                                            class="invalid-feedback"
                                                        >
                                                            Please Fill out
                                                            This Field
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="form-group row no-gutters"
                                                >
                                                    <label
                                                        for="validationCustom07"
                                                        class="col-sm-3 col-form-label control-label"
                                                        >Pin Code</label
                                                    >
                                                    <div class="col-sm-9">
                                                        <input
                                                            type="text"
                                                            class="form-control"
                                                            id="validationCustom07"
                                                            placeholder="Pin Code"
                                                            required
                                                        />
                                                        <div
                                                            class="invalid-feedback"
                                                        >
                                                            Please Fill out
                                                            This Field
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="form-group row no-gutters"
                                                >
                                                    <label
                                                        for="formq"
                                                        class="col-sm-3 col-form-label control-label"
                                                        >Remark</label
                                                    >
                                                    <div class="col-sm-9">
                                                        <textarea
                                                            class="form-control"
                                                            placeholder=""
                                                            row="6"
                                                            required
                                                        ></textarea>
                                                        <div
                                                            class="invalid-feedback"
                                                        >
                                                            Please Fill out
                                                            This Field
                                                        </div>
                                                    </div>
                                                </div>
                                                <button
                                                    type="submit"
                                                    class="btn btn-info float-right"
                                                >
                                                    Submit
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock other_body %}