{% extends 'base/base_referral_&_vendor.html' %}
{% load static%}

{% block registration %}


{% endblock registration %}




{% block approved_projects %}


    
{% endblock approved_projects %}












{% block add_leads %}
        <li class="nav-item w-100">
            <a class="nav-link" href="">
                <span class="sidenav-mini-icon w-15"> RP </span>
                <span class="sidenav-normal ms-3 ps-1">Add List</span>
            </a>
        </li>
{% endblock add_leads %}


{% comment %} <header>
    <h4>
        Dashboard
    </h4>
</header> {% endcomment %}