{% load static %}

<link rel="icon" type="image/png" href="">
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<!-- Icons -->
<link href="{% static 'material_2_pro_assets/css/nucleo-icons.css' %}" rel="stylesheet" />
<link href="{% static 'material_2_pro_assets/css/nucleo-svg.css' %}" rel="stylesheet" />

<!-- Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

<!-- CSS Files -->
<link id="pagestyle" href="{% static 'material_2_pro_assets/css/material-dashboard.min.css?v=3.0.2' %}" rel="stylesheet" />