<nav class="navbar navbar-main navbar-expand-lg position-sticky mt-4 top-1 px-0 mx-4 shadow-none border-radius-xl z-index-sticky" id="navbarBlur" data-scroll="true">
    {% comment %} <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-3 text-dark" href=""><i class="fas fa-home"></i></a></li>
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="">Pages</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Analytics</li>
        </ol>
        <h6 class="font-weight-bolder mb-0">Analytics</h6>
    </nav> {% endcomment %}
    <div class="container-fluid py-1 px-3">
        <div class = "row align-items-center justify-content-center">
            <div class = "col-auto">
                <div class="sidenav-toggler sidenav-toggler-inner d-xl-block d-none ">
                    <a href="javascript:;" class="nav-link text-body p-0">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class = "col-auto">
                <div class="collapse navbar-collapse mt-sm-0" id="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item d-xl-none ps-3 d-flex align-items-center justify-content-center">
                            <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-auto">
                <a href={% url 'base_dashboard' %}>
                    <i class="fas fa-tachometer-alt"></i>
                </a>
            </div>
            <div class = "col-12 mt-2">
                {% include 'base/messages.html' %}
            </div>
        </div>
    </div>
</nav>