{% load static %}

<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
<script src="{% static "material_2_pro_assets/js/core/popper.min.js" %}"></script>
<script src="{% static "material_2_pro_assets/js/plugins/perfect-scrollbar.min.js" %}"></script>
<script src="{% static "material_2_pro_assets/js/plugins/smooth-scrollbar.min.js" %}"></script>
<script src="{% static "material_2_pro_assets/js/material-dashboard.min.js?v=3.0.2" %}"></script>
<script src="{% static "material_2_pro_assets/js/core/bootstrap.min.js" %}"></script>
<script src="{% static 'material_2_pro_assets/js/core/jquery.min.js' %}"></script>

{% comment %} <script src="{% static "material_2_pro_assets/js/plugins/dragula/dragula.min.js" %}"></script>
<script src="{% static "material_2_pro_assets/js/plugins/jkanban/jkanban.js" %}"></script>
<script src="{% static "material_2_pro_assets/js/plugins/chartjs.min.js" %}"></script>
<script src="{% static "material_2_pro_assets/js/plugins/choices.min.js" %}"></script>
<script src="{% static "material_2_pro_assets/js/plugins/countup.min.js" %}"></script>
<script src="{% static "material_2_pro_assets/js/plugins/leaflet.js" %}"></script>
<script src="{% static "material_2_pro_assets/js/plugins/nouislider.min.js" %}"></script>
<script src="{% static "material_2_pro_assets/js/plugins/round-slider.min.js" %}"></script>
<script src="{% static "material_2_pro_assets/js/plugins/world.js" %}"></script> {% endcomment %}
