{% extends 'base/base.html'%}
{%block title%} Cibil Details{%endblock title%}
{%block other_body%}
    <div class ="container-fluid">
        <div class="container" style="width:800px; margin:0 auto;">
            <form class="form-container" action={% url 'PPCibil' ppid=product.prod_id %} method="POST">
                {% csrf_token %}
                <div class="row"></div>
                
                    <div class="col-md-6"> 
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label"> <b>Cibil Range Minimum</b> </label>
                            <input type="text" class="form-control" name="cibil_range_min">
                        </div>
                    </div>

                    <div class="col-md-6"> 
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label"> <b>Cibil Range Maximum</b> </label>
                            <input type="text" class="form-control" name="cibil_range_max">
                        </div>
                    </div>
                    <div style="text-align:center">
                        <button class="btn btn-primary mr-3 !important" type="submit">Submit</button>
                    </div>
            </form>
        </div>
    </div>
{%endblock other_body%}
