{% extends 'base/base.html'%}
{%block title%} Ltv Resale {%endblock title%}
{%block other_body%}
    <div class ="container-fluid">
        <div class="container" style="width:800px; margin:0 auto;">
            <form class="form-container" action={% url 'PPLtvResale' ppid=product.prod_id %} method="POST">
                {% csrf_token %}
                    <div class="col-md-6"> 
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label"> <b>Minmum Amount</b> </label>
                            <input type="text" class="form-control" name="min_amount">
                        </div>
                    </div>

                    <div class="col-md-6"> 
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label"> <b>Maximum Amount</b> </label>
                            <input type="text" class="form-control" name="max_amount">
                        </div>
                    </div>

                    <div class="col-md-6"> 
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label"> <b>Rbi Guidelines</b> </label>
                            <input type="text" class="form-control" name="rbi_guidelines">
                    </div>
                </div>

                    <div class="col-md-6"> 
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label"> <b>Document Cost</b> </label>
                            <input type="text" class="form-control" name="doccument_cost">
                        </div>
                    </div>

                    <div class="col-md-6"> 
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label"> <b>Additional</b> </label>
                            <input type="text" class="form-control" name="additional">
                        </div>
                    </div>

                    <div class="col-md-6"> 
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label"> <b>Rbi Guidelines</b> </label>
                            <input type="text" class="form-control" name="rbi_guidelines">
                        </div>
                    </div>

                    <div class="col-md-6"> 
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label"> <b>Car Parking</b> </label>
                            <input type="text" class="form-control" name="car_parking">
                        </div>
                    </div>

                    <div class="col-md-6"> 
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label"> <b>Total</b> </label>
                            <input type="text" class="form-control" name="total">
                        </div>
                    </div>

                    <div class="col-md-6"> 
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label"> <b>Market Value</b> </label>
                            <input type="text" class="form-control" name="market_value">
                        </div>
                    </div>

                    <div class="col-md-6"> 
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label"> <b>AV Capping</b> </label>
                            <input type="text" class="form-control" name="av_capping">
                        </div>
                    </div>

                   
                    
                
                <br>
                
                    <div style="text-align:center">
                        
                        <button class="btn btn-primary mr-3 !important" type="submit">Submit</button>
            
                    </div>
                
            </form>
        </div>
    </div>
    
{%endblock other_body%}
