<!-- account/dashboard.html -->
<!--     Fonts and icons     -->
  {% comment %} <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" /> {% endcomment %}
  {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"> {% endcomment %}
  <!-- CSS Files -->
  {% comment %} <link href="{%static 'assets/css/material-dashboard.css?v=2.1.2' %}"  rel="stylesheet" /> {% endcomment %}
  <!-- CSS Just for demo purpose, don't include it in your project -->
  {% comment %} <link href="{% static 'assets/demo/demo.css'%} " rel="stylesheet" /> {% endcomment %}
  
<!--   Core JS Files   -->
<script src="{% static 'assets/js/core/jquery.min.js' %} "></script>
<script src="{% static 'assets/js/core/popper.min.js'%} "></script>
<script src="{% static 'assets/js/core/bootstrap-material-design.min.js' %} "></script>
<script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %} "></script>
<!-- Plugin for the momentJs  -->
<script src="{%static 'assets/js/plugins/moment.min.js' %} "></script>
<!--  Plugin for Sweet Alert -->
<script src="../assets/js/plugins/sweetalert2.js"></script>
<!-- Forms Validations Plugin -->
<script src=" {% static ' assets/js/plugins/jquery.validate.min.js' %}"></script>
<!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
<script src=" {% static 'assets/js/plugins/jquery.bootstrap-wizard.js' %} "></script>
<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="{% static 'assets/js/plugins/bootstrap-selectpicker.js' %} "></script>
<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
<script src=" {% static 'assets/js/plugins/bootstrap-datetimepicker.min.js' %} "></script>
<!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
<script src="{% static ' assets/js/plugins/jquery.dataTables.min.js' %}"></script>
<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script src="{% static 'assets/js/plugins/bootstrap-tagsinput.js' %} "></script>
<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="../assets/js/plugins/jasny-bootstrap.min.js"></script>
<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
<script src="../assets/js/plugins/fullcalendar.min.js"></script>
<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
<script src="{% static 'assets/js/plugins/jquery-jvectormap.js' %} "></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static 'assets/js/plugins/nouislider.min.js' %} "></script>
<!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
<!-- Library for adding dinamically elements -->
<script src="{%static 'assets/js/plugins/arrive.min.js"' %} "></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chartist JS -->
<script src="{% static 'assets/js/plugins/chartist.min.js'%} "></script>
<!--  Notifications Plugin    -->
<script src=" {% static ' assets/js/plugins/bootstrap-notify.js' %}"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static 'assets/js/material-dashboard.js?v=2.1.2' %} " type="text/javascript"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project!
<script src="{% static ' assets/demo/demo.js'%}"></script>
<!-- account/dashboard.html -->


<!-- account/sidebar.html -->
<!--     Fonts and icons     -->
  {% comment %} <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" /> {% endcomment %}
  {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"> {% endcomment %}
  <!-- CSS Files -->
  {% comment %} <link href="{%static 'assets/css/material-dashboard.css?v=2.1.2' %}"  rel="stylesheet" /> {% endcomment %}
  <!-- CSS Just for demo purpose, don't include it in your project -->
  {% comment %} <link href="{% static 'assets/demo/demo.css'%} " rel="stylesheet" /> {% endcomment %}

  <!--   Core JS Files   -->
  <script src="{% static 'assets/js/core/jquery.min.js' %} "></script>
  <script src="{% static 'assets/js/core/popper.min.js'%} "></script>
  <script src="{% static 'assets/js/core/bootstrap-material-design.min.js' %} "></script>
  <script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %} "></script>
  <!-- Plugin for the momentJs  -->
  <script src="{%static 'assets/js/plugins/moment.min.js' %} "></script>
  <!--  Plugin for Sweet Alert -->
  <script src="../assets/js/plugins/sweetalert2.js"></script>
  <!-- Forms Validations Plugin -->
  <script src=" {% static ' assets/js/plugins/jquery.validate.min.js' %}"></script>
  <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src=" {% static 'assets/js/plugins/jquery.bootstrap-wizard.js' %} "></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="{% static 'assets/js/plugins/bootstrap-selectpicker.js' %} "></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src=" {% static 'assets/js/plugins/bootstrap-datetimepicker.min.js' %} "></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
  <script src="{% static ' assets/js/plugins/jquery.dataTables.min.js' %}"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="{% static 'assets/js/plugins/bootstrap-tagsinput.js' %} "></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="../assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="../assets/js/plugins/fullcalendar.min.js"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="{% static 'assets/js/plugins/jquery-jvectormap.js' %} "></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{% static 'assets/js/plugins/nouislider.min.js' %} "></script>
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <!-- Library for adding dinamically elements -->
  <script src="{%static 'assets/js/plugins/arrive.min.js"' %} "></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="{% static 'assets/js/plugins/chartist.min.js'%} "></script>
  <!--  Notifications Plugin    -->
  <script src=" {% static ' assets/js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'assets/js/material-dashboard.js?v=2.1.2' %} " type="text/javascript"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static ' assets/demo/demo.js'%}"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>
<!-- account/sidebar.html -->


///////////////////////// old sidebar
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href=" {%static 'assets/img/apple-icon.png' %}" >
  <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Dashboard
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar"  data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a href="{% url 'dashboard' %}" class="simple-text ">
        <i class="large material-icons icon-blue">dashboard </i>

        dashboard
        </a></div>
      <div class="sidebar-wrapper" id="accordionSidebar">
        <ul class="nav">
          <li class="nav-item ">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
              <i class="material-icons">Master </i>

              <p>Master</p>

            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
              <div class="bg-warning py-2 collapse-inner rounded  ">
                <!-- <h6 class="collapse-header">Custom Masters:</h6> <br> -->

                <p> <a class="collapse-item" href="{% url 'Master_details' %}"><b>General</b></a> <br> </p>
                <a class="collapse-item" href="{% url 'listproductandpolicy' %}">Product & Policy</a>
                <!-- <a class="collapse-item" href="/crm_app/master _bank_name">Bank Name</a> -->
              </div>
            </div>




          </li>
          <li class="nav-item ">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities2" aria-expanded="true" aria-controls="collapseUtilities">
              <i class="large material-icons icon-blue">person </i>
              <p>Registration</p>




            </a>
            <div id="collapseUtilities2" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
              <div class="bg-warning py-2 collapse-inner rounded  ">
                <!-- <h6 class="collapse-header">Custom Masters:</h6> <br> -->

                <p> <a class="collapse-item" href="{% url 'register' %}"><b>Referal Partner</b></a> <br> </p>
                <a class="collapse-item" href="{% url 'register2' %}">Creative Finserve Centre</a>
                <!-- <a class="collapse-item" href="/crm_app/master_bank_name">Bank Name</a> -->
              </div>
            </div>




            <li class="nav-item ">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities3" aria-expanded="true" aria-controls="collapseUtilities">
              <i class="material-icons">content_paste</i>
              <p>Partner/Customer Details</p>





              </a>
              <div id="collapseUtilities3" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-warning py-2 collapse-inner rounded  ">
                  <!-- <h6 class="collapse-header">Custom Masters:</h6> <br> -->

                  <p> <a class="collapse-item" href="{% url 'customer_details' %}"><b>Customer</b></a> <br> </p>
                  <a class="collapse-item" href="{% url 'partner_list' %}">Partner</a>
                  <!-- <a class="collapse-item" href="/crm_app/master_bank_name">Bank Name</a> -->
                </div>
              </div>



          </li>
          <li class="nav-item ">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities1" aria-expanded="true" aria-controls="collapseUtilities">
              <i class="material-icons">library_books</i>
              <p>Lead</p>


            </a>
            <div id="collapseUtilities1" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
              <div class="bg-warning py-2 collapse-inner rounded  ">
                <!-- <h6 class="collapse-header">Custom Masters:</h6> <br> -->

                <p> <a class="collapse-item" href="{% url 'add_leads' %}"><b>Add Leads</b></a> <br> </p>
                <a class="collapse-item" href="{% url 'list_leads' %}">List Lead</a>
                <!-- <a class="collapse-item" href="/crm_app/master_bank_name">Bank Name</a> -->
              </div>
            </div>

            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#"  data-toggle="collapse" data-target="#collapseUtilitiesB" aria-expanded="true" aria-controls="collapseUtilities">
              <i class="material-icons">home</i>
              <p>Bank / NBFC Format</p>
            </a>
            <div id="collapseUtilitiesB" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
              <div class="bg-warning py-2 collapse-inner rounded  ">
                <!-- <h6 class="collapse-header">Custom Masters:</h6> <br> -->

                <p> <a class="collapse-item" href="{% url 'codes' %}"><b>Codes</b></a> <br> </p>
                <a class="collapse-item" href="{% url 'bank_download' %}">Documents Upload</a>
                <!-- <a class="collapse-item" href="/crm_app/master_bank_name">Bank Name</a> -->
              </div>
            </div>

            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'approved' %}">
              <i class="material-icons">location_ons</i>
              <p>Approved Projects </p>
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities4" aria-expanded="true" aria-controls="collapseUtilities">
              <i class="material-icons">notifications</i>
              <p>Apps</p>





            </a>
            <div id="collapseUtilities4" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
              <div class="bg-warning py-2 collapse-inner rounded  ">
                <!-- <h6 class="collapse-header">Custom Masters:</h6> <br> -->

                <p> <a class="collapse-item" href="{% url 'email' %}"><b>Email</b></a> <br> </p>
                <a class="collapse-item" href="{% url 'whatsapp' %}">Whatsapp</a> <br>
                <a class="collapse-item" href="{% url 'calculator' %}">Calculator</a> <br>
                <a class="collapse-item" href="#">Bank Statement Analyzer</a> <br>

                <!-- <a class="collapse-item" href="/crm_app/master_bank_name">Bank Name</a> -->
              </div>
            </div>
          </a>

            </li>




          <li class="nav-item ">
            <a class="nav-link" href="{% url 'training' %}">
              <i class="material-icons">language</i>
              <p>Training</p>
            </a>
          </li>
           <li class="nav-item ">
            <a class="nav-link" href={% url 'support' %}>
              <i class="material-icons">contact_support</i>
              <p>support</p>
            </a>
          </li>

          <li class="nav-item active-pro ">
            <a class="nav-link" href="http://creativefinservecrm.pythonanywhere.com">
              <i class="material-icons">logout</i>
              <p>Logout</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">



</body>

</html>

// head
<!-- Canonical SEO -->
<link rel="canonical" href="https://www.creative-tim.com/product/material-dashboard-pro" />
<!--  Social tags      -->
<meta name="keywords" content="creative tim, html dashboard, html css dashboard, web dashboard, bootstrap 5 dashboard, bootstrap 5, css3 dashboard, bootstrap 5 admin, material dashboard bootstrap 5 dashboard, frontend, responsive bootstrap 5 dashboard, material design, material dashboard bootstrap 5 dashboard">
<meta name="description" content="Material Dashboard PRO is a beautiful Bootstrap 5 admin dashboard with a large number of components, designed to look beautiful, clean and organized. If you are looking for a tool to manage dates about your business, this dashboard is the thing for you.">
<!-- Twitter Card data -->
<meta name="twitter:card" content="product">
<meta name="twitter:site" content="@creativetim">
<meta name="twitter:title" content="Material Dashboard PRO by Creative Tim">
<meta name="twitter:description" content="Material Dashboard PRO is a beautiful Bootstrap 5 admin dashboard with a large number of components, designed to look beautiful, clean and organized. If you are looking for a tool to manage dates about your business, this dashboard is the thing for you.">
<meta name="twitter:creator" content="@creativetim">
<meta name="twitter:image" content="../../../../s3.amazonaws.com/creativetim_bucket/products/51/original/opt_mdp_bs5_thumbnail.jpg">
<!-- Open Graph data -->
<meta property="fb:app_id" content="655968634437471">
<meta property="og:title" content="Material Dashboard PRO by Creative Tim" />
<meta property="og:type" content="article" />
<meta property="og:url" content="default.html" />
<meta property="og:image" content="../../../../s3.amazonaws.com/creativetim_bucket/products/51/original/opt_mdp_bs5_thumbnail.jpg" />
<meta property="og:description" content="Material Dashboard PRO is a beautiful Bootstrap 5 admin dashboard with a large number of components, designed to look beautiful, clean and organized. If you are looking for a tool to manage dates about your business, this dashboard is the thing for you." />
<meta property="og:site_name" content="Creative Tim" />


///////////// Themes 
<div class="fixed-plugin">
  <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
    <i class="material-icons py-2">settings</i>
  </a>
  <div class="card shadow-lg">
    <div class="card-header pb-0 pt-3">
      <div class="float-start">
        <h5 class="mt-3 mb-0">Settings</h5>
        <p>See CFCRM dashboard options.</p>
      </div>
      <div class="float-end mt-4">
        <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
          <i class="material-icons">clear</i>
        </button>
      </div>
      <!-- End Toggle Button -->
    </div>
    <hr class="horizontal dark my-1">
    <div class="card-body pt-sm-3 pt-0">
      <!-- Sidebar Backgrounds -->
      <div>
        <h6 class="mb-0">Sidebar Colors</h6>
      </div>
      <a href="javascript:void(0)" class="switch-trigger background-color">
        <div class="badge-colors my-2 text-start">
          <span class="badge filter bg-gradient-primary active" data-color="primary" onclick="sidebarColor(this)"></span>
          <span class="badge filter bg-gradient-dark" data-color="dark" onclick="sidebarColor(this)"></span>
          <span class="badge filter bg-gradient-info" data-color="info" onclick="sidebarColor(this)"></span>
          <span class="badge filter bg-gradient-success" data-color="success" onclick="sidebarColor(this)"></span>
          <span class="badge filter bg-gradient-warning" data-color="warning" onclick="sidebarColor(this)"></span>
          <span class="badge filter bg-gradient-danger" data-color="danger" onclick="sidebarColor(this)"></span>
        </div>
      </a>
      <!-- Sidenav Type -->
      <div class="mt-3">
        <h6 class="mb-0">Sidenav Type</h6>
        <p class="text-sm">Choose between 2 different sidenav types.</p>
      </div>
      <div class="d-flex">
        <button class="btn bg-gradient-dark px-3 mb-2 active" data-class="bg-gradient-dark" onclick="sidebarType(this)">Dark</button>
        <button class="btn bg-gradient-dark px-3 mb-2 ms-2" data-class="bg-transparent" onclick="sidebarType(this)">Transparent</button>
        <button class="btn bg-gradient-dark px-3 mb-2 ms-2" data-class="bg-white" onclick="sidebarType(this)">White</button>
      </div>
      <p class="text-sm d-xl-none d-block mt-2">You can change the sidenav type just on desktop view.</p>
      <!-- Navbar Fixed -->
      <div class="mt-3 d-flex">
        <h6 class="mb-0">Navbar Fixed</h6>
        <div class="form-check form-switch ps-0 ms-auto my-auto">
          <input class="form-check-input mt-1 ms-auto" type="checkbox" id="navbarFixed" onclick="navbarFixed(this)">
        </div>
      </div>
      <hr class="horizontal dark my-3">
      <div class="mt-2 d-flex">
        <h6 class="mb-0">Sidenav Mini</h6>
        <div class="form-check form-switch ps-0 ms-auto my-auto">
          <input class="form-check-input mt-1 ms-auto" type="checkbox" id="navbarMinimize" onclick="navbarMinimize(this)">
        </div>
      </div>
      <hr class="horizontal dark my-3">
      <div class="mt-2 d-flex">
        <h6 class="mb-0">Light / Dark</h6>
        <div class="form-check form-switch ps-0 ms-auto my-auto">
          <input class="form-check-input mt-1 ms-auto" type="checkbox" id="dark-version" onclick="darkMode(this)">
        </div>
      </div>
       
      </div>
    </div>
  </div>
</div>