
.table .category_heading , .table .centre_heading {
    text-align: center;
}


.table .centre_centre_heading {
   text-align: center;
   vertical-align: middle;
}
 

.table tbody .salary_range_input{
    border: none;
    padding-block: 0.2rem;
    outline: none;
    background-image: linear-gradient(0deg, #e91e63 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0);
    background-size: 0 100%, 100% 100%;
    /* max-width: 7.5rem; */
    max-width: fit-content;
    min-width: 7rem !important;
}

.table tbody .multiplier_input{
    border: none;
    padding-block: 0.2rem;
    outline: none;
    background-image: linear-gradient(0deg, #e91e63 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0);
    background-size: 0 100%, 100% 100%;
    /* max-width: 4.5rem; */
    max-width: fit-content;
    min-width: 4.5rem !important;
}


table{
    border-radius: 0.5rem;
}

/* 

table tr:last-child td:first-child {
    border: 2px solid orange;
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border: 2px solid green;
    border-bottom-right-radius: 10px;
} */


.table-responsive::-webkit-scrollbar{
    height: 0.1rem;
}

.table-responsive::-webkit-scrollbar-thumb { 
    border-radius: 0.2rem;
    background: rgba(0,0,0,0.3); 
}