<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agreement</title>
    <style>
        body {
            font-size: 16px;
            background: #00171f;
        }
        
        /* h1 {
            color: #ffffff;
            background-color: #003459;
        } */
        
        
        
        form {
            width: 450px;
            background: #fff;
            padding: 25px 40px 40px;
            border: 4px solid #ccc;
            margin: 45px auto 0;
            border-radius: 2px;
        }
        
        input,
        select,
        textarea {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        
        .row {
            padding-bottom: 10px;
        }
        
        .form-inline {
            border: 1px solid #ccc;
            padding: 8px 10px 4px;
            border-radius: 10px;
        }
        
        .form-inline label,
        .form-inline input {
            display: inline-block;
            width: auto;
            padding-right: 15px;
        }
        
        input[type="submit"] {
            background-color: #003459;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }
        
        a {
            color: dodgerblue;
        }
        
        .signin {
            background-color: #f1f1f1;
            text-align: center;
        }
    </style>
</head>
<body>
    <!-- <form action="agreement" method="POST"> -->
    <div class="Container">
        <h1 align="center">REFERRAL PARTNER AGREEMENT
            
        </h1>
        
        <p1>THIS AGREEMENT is made and entered at Thane / Mumbai on this _____ day of
            ___________ 2020. <br> </p1>
        
        <h3 align="center">BETWEEN <br> </h3>
        <p3><b> FINSERVE PVT. LTD., (CFPL)</b>, a company incorporated under the provisions
            of the Companies Act, 1956 and having its registered office at B/2, Ground Floor, Raghu
            Leela Complex,150 feet Road, Nr. Hidden cafe,Bhayander (W), 401101. (Which expression
            shall unless it be repugnant to the context or meaning thereof be deemed to mean and include
            its present and future directors, shareholders, executors, legal representatives and assigns)
            party of the <b>“ONE PART”</b> <br> ;</p3>

        
        <h3 align="center">AND</h3>
        <p> <b> <u> {{ partner_name }} </u></b>, PAN NO.____________, Indian Inhabitant, having address at
            ______________________________________________________________________________
            _____________________________________________hereinafter referred to as the
            <b>“REFERRAL PARTNER”</b> (which expression shall unless it be repugnant to the context or
            meaning thereof be deemed to mean and include his heirs, executors, legal representatives and
            assigns) party of the <b> “OTHER PART” </b> .</p>
            <!-- <br> -->
        <p>WHEREAS, CFPL is in the business of arranging, (a) Loans against Property, (b) Business Loans,
            (c) Home Loans, (d) Personal Loans, (e) SME Loans, (f) Construction Finance, for its customers
            who are interested in availing such loan, from various banks and financial institutions.
            WHEREAS, the Referral Partner is interested to associate with CFPL in its business activity as a
            Referral Partner, upon the terms and conditions set forth in this Agreement;</p>
        <p>NOW, THEREFORE, in consideration of the premises and the promises herein made, the
            parties hereto hereby agree as follows:</p>
        <p4> <b> 1. TERM / TERMINATION. </b>  The term of this Agreement shall begin as of the date
            ____________ (the “Effective Date”) and shall continue till such period either of the parties
            intimates the other party of its intention to terminate this agreement. </p4>
        <p5>Either party may terminate this Agreement at any time and for any reason upon ____ month’s
            prior written notice to the other party.</p5>
        <p6>Provided always that the power of termination shall not be exercised by the parties unless and
            until the aggrieved party have given to the defaulting party fifteen days prior notice in writing
            of intention to terminate this Agreement and of the specific breach or breaches of terms and
            conditions in respect of which it is intended to terminate the agreement and default shall have
            been made by the defaulting party in remedying such breach or breaches within a reasonable
            time after giving of such notice.</p6>
        <p7>In the event of termination of this agreement, all the respective documents in possession of
            either of the party shall be returned to the respective party with immediate effect.</p7>
        <h4>2. PERFORMANCE BY REFERRAL PARTNER.</h4>
        <p8>a. CFPL hereby engages Referral Partner as a non-exclusive independent Referral Partner
            to refer to CFPL potential customers who are interested in availing the types of loans
            referred to above in this agreement, and not as an employee of CFPL. The parties will
            become contractually bound only upon the issuance of a ‘Confirmation Advice’
            issued by CFPL. Each confirmation advice issued by CFPL to Referral Partner shall be
            submitted by authorized personnel of CFPL and shall set forth the following:</p8>
            <ul>
                <li> the name of the prospective borrower;</li>
                <li> the type of loan which the prospective borrower wishes to avail; and</li>
                <li> the compensation payable by CFPL to the Referral Partner in respect of the
                    prospective borrower.</li>
            </ul>
        <p>b. The Referral Partner shall use his own infrastructure, personnel and provide office and
            other facilities needed to be provided to such personnel and bear his own expenses,
            CFPL shall only be liable to pay the compensation agreed to be paid by CFPL to the
            Referral Partner and shall not be liable to reimburse any expenses incurred by the
            Referral Partner or his personnel.</p>
        <p>c. The Referral Partner shall solely be responsible for payment of salary, commission
            and/or other expenses of his employees and the Referral Partner shall be free to engage
            any number of employees for the work conducted by the Referral Partner.</p>
        <p>d. In case of a conflict between any of the terms contained or in the event of any of the
            customer referred by the Referral Partner is already referred by some other Referral
            Partner of CFPL or such customer is already a customer of CFPL, in any such the
            Referral Partner shall not be entitled to any compensation / commission in respect of
            such customer. The decision of CFPL shall be final in such cases.</p>
        <h4>3. COMPENSATION.</h4>
        <p>a. Referral Partner shall be compensated for the referrals made by him under this
            Agreement, by CFPL, in accordance with the compensation plan set forth on Exhibit A
            attached hereto.</p>
        <p>b. The fees / commission shall be paid by CFPL on the 25
            th day of the following month in
            which the loan is disbursed to such customer of the Referral Partner.</p>
        <p>c. The Referral Partner shall maintain the Confirmation Advice issued by CFPL for all
            future references and in case of any disputes regarding payment of compensation /
            commission by CFPL.</p>
        <p>d. Notwithstanding any laws, regulations or agreements to the contrary, CFPL shall be
            responsible for and shall be required to pay to the Referral Partner all the amounts due
            towards fees / commission, even if the demand for the same has not been raised by the
            Referral Partner. All outstanding amounts must be reviewed and paid by the end of the
            financial year.</p>
        <p>e. The Fees / Commission percentage set forth herein in Exhibit A is subject to change at
            the sole discretion of CFPL, however any such revision shall not effect any
            confirmation advice already issued by CFPL to the Referral Partner.</p>
        <p>f. All payments payable to the Referral Partner by CFPL shall be subject to deduction of
            income tax at source and service tax if any that may be applicable and shall always be
            made by account payee cheques only.</p>
        <h4>4. CONFIDENTIAL INFORMATION.</h4>
        <p> Referral Partner acknowledges that any of CFPL's technical, business, and marketing information, including but not limited any information
            relating to its product, services, customers, markets, software, developments, data, marketing
            or finances, and other information proprietary to CFPL or information related to Referral
            Partner’s Services performed hereunder ("Confidential Information") are the property of
            CFPL, regardless of how, when or in what capacity Referral Partner obtained any such
            Confidential Information, and shall use such Confidential Information only for the purposes set
            forth in this Agreement, and shall not disclose such Confidential Information to any other
            person, firm, or corporation without the prior written consent of CFPL.</p>
        <p>Notwithstanding the foregoing, Confidential Information shall not include (i) information which
            at the time of disclosure is in the public domain; (ii) information which, after disclosure,
            becomes public knowledge other than through the actions of Referral Partner; (iii) information
            which Referral Partner can show was in its possession at the time of disclosure and was not
            originally acquired, directly or indirectly, from CFPL as evidenced by Referral Partner’s written
            records; (iv) information revealed to Referral</p>
            <p>Partner on a non-confidential basis by third parties, provided that such third parties are not
                prohibited from disclosing such information to Referral Partner by any contractual, legal or
                fiduciary obligation to CFPL or its representatives; and (v) information which can be
                shown to have been entirely developed by employees or agents of Referral Partner without
                access to or wholly independently of information otherwise defined as Confidential
                Information hereunder. Either party shall, notwithstanding the foregoing, be permitted to
                disclose any such Confidential Information in the event that such party becomes legally
                compelled to disclose any of such information pursuant to a subpoena or other legal
                process provided, however, that such party shall immediately notify the other party in
                writing of such requirements so that a protective order or other appropriate remedy can be
                sought. The provisions of this clause shall survive the termination of this Agreement.</p>

            <p>5. All documents submitted by the customers referred by the Referral Partners shall be shared
                with the Referral Partner and in all cases be returned to the Referral Partner, if such
                customer referred by the Referral Partner so desires, such documents shall not be the
                property of CFPL.</p>
            <p>6.  <b>WARRANTY.</b>  Each Party hereby represents and warrants (i) that it is duly organized,
                validly existing and in good standing under the laws of its jurisdiction of incorporation;<br>
                (ii) that it has the legal right and authority to enter into and perform its obligations under
                this Agreement; and <br> (iii) that the execution and performance of this Agreement will not
                conflict with or violate any provision of any law having applicability to such Party; and <br>
                (iv) That this Agreement, when executed and delivered, will constitute a valid and
                binding obligation of such Party and will be enforceable against such Party in accordance
                with its terms.</p>
            <p>7. <b>INDEMNIFICATION</b> If Referral Partner performs any work on behalf of CFPL, whether
                on or off CFPL's premises, Referral Partner shall indemnify and hold CFPL harmless from
                and against any and all liabilities, losses, damages, costs and expenses, including costs of
                litigation arising from or in connection with Referral Partner's performance of work or use
                of CFPL's property except if such liability, claim, or demand arises out of the sole
                negligence of CFPL.</p>
            <p>8. <b>FORCE MAJEURE.</b> No liability shall result to either party for delay in performance or
                nonperformance caused by the occurrence of circumstances beyond the reasonable control
                of the party affected, including, but not limited to, acts of God, fire, earthquake, typhoons,
                explosion, flood, war, governmental direction or request, laws, strikes, labour
                Trouble and for shortage of or inability to obtain raw material or special equipment. The party
                affected by such occurrence shall provide the other party with written notice of the occurrence
                and of its probable duration within a reasonable time of the occurrence.</p>

                <h4>9. Choice of Law and Dispute Resolution</h4>

            <p>
                This Agreement shall be governed and construed in accordance with the laws of India. Any
                dispute arising out of or relating to this Agreement shall be settled through friendly
                consultations between the parties. If settlement cannot be reached through friendly
                consultation, either party may, by giving the other party sixty (60) days written notice, submit
                such dispute to arbitration as applicable under provisions of Arbitration and Conciliation Act,
                1996 or any other statutory modification or re-enactment thereof, and shall be presided over by
                a single arbitrator to be mutually appointed by the Parties. The proceedings shall be conducted
                in Mumbai in the English language.</p>

            <p>10. <b>TRADEMARKS.</b> No right or license to any name, trade name, trademark or service mark
                or other identity owned by either of the parties hereto shall be deemed to be granted to the
                other by any provision hereof or construed from the performance of this Agreement by
                either party.</p>

            <p>11. <b>FURTHER ASSURANCES.</b> Each of the parties covenants and agrees to execute and
                deliver such additional instruments and other documents and shall take such reasonable
                further actions as may be necessary or appropriate to effectuate, carry out and comply with
                all of the terms of this Agreement.</p>

            <p>12. <b>NON-ASSIGNMENT; SUCCESSORS.</b> This Agreement shall be binding upon and shall
                inure to the benefit of each of the parties and its respective successors and permitted
                assigns. Neither party may assign its rights or delegate its obligations hereunder without
                the prior written consent of the other party.</p>
            
            <p>13. <b>SEVERABILITY</b> If any provision of this Agreement is deemed invalid or unenforceable
                by any court of competent jurisdiction or under any statute, regulation, ordinance,
                executive agreement or other rule of law, such provision shall be deleted or modified, at the
                election of the parties, but only to the extent necessary to comply with such ruling, statute,
                regulation, ordinance, agreement or rule, and the remaining provisions of this Agreement
                shall remain in full force and effect.</p>
            <p>14. <b>RELATIONSHIP OF PARTIES.</b> Nothing contained in this Agreement shall be construed as
                constituting Referral Partner or CFPL as the franchiser, franchisee, partner, joint venture
                partner or agent of the other. Each party is independent and neither has nor shall have any
                power, right or authorization to bind the other or to assume or Create any obligations or
                responsibilities, express or implied, on behalf of the other or in the other's name.</p>

            <p>15. <b>COUNTERPARTS.</b> This Agreement may be executed in one or more counterparts,
                each of which shall be deemed to be an original and all of which together shall be
                deemed to constitute one and the same instrument.</p>

            <p>16. <b>NO THIRD PARTY BENEFICIARIES.</b> This Agreement is entered into solely
                between and may only be enforced by the parties hereto. This Agreement shall not be
                deemed to create any rights in any third parties, including any employees or partners of
                Referral Partner, or to create any obligations of a party to any third parties.</p>

            <p>17.ENTIRE AGREEMENT; NON-WAIVER. This Agreement sets forth the entire
                understanding of the parties hereto and constitutes the entire Agreement between the
                parties with respect to the matters contained herein, and supersedes all prior oral or
                written representations, proposals, correspondence, discussions, negotiations and
                agreements. No change, modification, waiver, agreement or understanding, oral or
                written, in any way purporting to waive or modify the terms hereof shall be binding on
                either party hereto unless contained in a written document expressly described as an
                amendment to, waiver of or extension of this Agreement and unless such document is
                duly executed by both parties.</p>

            <p>18.In the event that CFPL has evidence that Referral Partner has been accused of, has
                pending charges for or is otherwise penalized for, the violation of the Ethical Practices
                Laws, then CFPL shall maintain the right to terminate this Agreement with immediate
                effect.</p>
            <p>IN WITNESS WHEREOF, the parties hereto have caused this Agreement to be duly executed
                as of the date first above written.
                Signed, Sealed & Delivered by</p>
            <p> <b> CREATIVE FINSERVE PVT. LTD. </b> <br>
                Represented by Auth Signatory <br>
                <br>
                <br>
                <br>
                <br>
                In presence of</p>
            <h4>WITNESS:</h4>
            <h4>1.</h4>
            <h4>2.
                <br>
                <br>
                <br>
            </h4>

            <p>SIGNED, SEALED & DELIVERED by <br>
                MR ____________________________, <br>
                Referral Partner <br> 
                In presence of <br>
                WITNESS: <br>
                1. <br>
                2.</p>
            
            <h3 align="center"> EXHIBIT – A</h3>

            <p> <b>PAYOUT DETAILS</b> <br>
                1. <b>HOME LOAN</b> : 0.30% of Loan Amount <br>
                2. <b>LOAN AGAINST PROPERTY </b>: 0.40 % of Loan Amount <br>
                3. <b>PERSONAL LOAN</b> : 1% of the Loan Amount <br>
                4. <b>BUSINESS LOAN </b>: 1% of the Loan Amount <br>
                5. <b>GENERAL INSURANCE</b> : 10% of the Premium Amount <br>
                6. <b>CAR REFINANCE</b> : 1% of the Loan Amount</p> <br>


    <!-- </form> -->
            <h4>Terms & Conditions:</h4>
                <p>Subvent if any in processing fees will be adjusted from Referral partner payout.
                    Nationalised Bank and LIC payout will be discussed on case to case basis
                   For all Business done from 1st
                    to 30th will be paid on 25th
                    of the consecutive month.
                   Payment will be made through Cheque or NEFT only
                   Payout will be released after deduction of applicable TDS.</p>
                
            <!-- <h4>CREATIVE FINSERVE PVT. LTD.  <pre class="tab4" > ACCEPTED BY</pre>           <br>
            <br>
        </h4>
            

            <h4>(DIRECTOR)  <pre class="tab4" >  (_______________________) </pre>           <br> </h4> -->
            <pre class="tab8">  <b>CREATIVE FINSERVE PVT. LTD.         ACCEPTED BY</b> <br> <br> <br> </pre>
            <pre class="tab8">  <b>(DIRECTOR)          (_______________________)</b> </pre>


            
    




 
 

    </div>

</body>
</html>