{% extends 'base/base.html' %}
{% load static %}

{% block other_css %}
{% endblock other_css %}

{% block title %}Calculator{% endblock title %}

{% block other_body %}
  <div class ="container-fluid mb-5">
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container-fluid">
          <div style="width:800px; margin:0 auto;">
            <h1 class="mb-5 mt-3 display-3 text-center">Loan Calculator</h1> 
            <div class="card-body p-3 bg-white rounded">
              <div class="input-group input-group-static mb-4">
                <label for="calc_details" class="ms-0 text-primary fw-bold col-12">Calculators</label>
                <select class="form-control col-12" name="calc_type" id="calc_details">
                    <option value="">-- Select Calculator --</option>
                    <option value="Loan Comparison">Loan Comparison</option>
                    <option value="Stamp Duty And Registration">Stamp Duty And Registration</option>
                    <option value="Extra Payment">Extra Payment</option>
                    <option value="EMI Calculator">EMI Calculator</option>
                </select>
              </div>
              <div class="container" id="details1" style="display: none">
                <form action="" method="POST">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group input-group-outline mb-4">
                          <label  for="prin_amt" class="form-label text-primary fw-bold">Principal Amount</label>
                          <input type="number" name="prin_amt" id="prin_amt" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group input-group-outline mb-4">
                          <label  for="app_roi" class="form-label text-primary fw-bold">Applied Rate Of Interest</label>
                          <input type="number" name="app_roi" id="app_roi" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group input-group-outline mb-4">
                          <label  for="Prop_roi" class="form-label text-primary fw-bold">Proposed Rate Of Interest</label>
                          <input type="number" name="Prop_roi" id="Prop_roi" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group input-group-outline mb-4">
                          <label  for="tenure_loan" class="form-label text-primary fw-bold">Tenure Of Loan</label>
                          <input type="number" name="tenure_loan" id="tenure_loan" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group input-group-outline mb-4">
                          <label  for="add_tenure" class="form-label text-primary fw-bold">Additional Tenure (in months)</label>
                          <input type="number" name="add_tenure" id="add_tenure" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <div class="input-group input-group-static mb-4">
                          <label for="choice_calc" class="ms-0 text-primary fw-bold col-12">Calculation Type</label>
                          <select class="form-control col-12" name="choice_calc" id="choice_calc">
                            <option value="">-- Select Calculation Type --</option>
                            <option value="Yet To Start">EMI Reduction Calculation</option>
                            <option value="Plint">Tenure Reduction Calculation</option>
                            <option value="Underconstruction">Both The Calculation</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="text-center">
                      <button class="btn btn-primary mr-3 !important" type="submit">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="container" id="details2" style="display: none">
                <form action="" method="POST">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group input-group-outline mb-4">
                          <label for="property_value" class="form-label text-primary fw-bold">Propert Value</label>
                          <input type="number" name="property_value" id="property_value" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group input-group-outline mb-4">
                          <label  for="state_regi" class="form-label text-primary fw-bold">State Of Registration</label>
                          <input type="text" name="state_regi" id="state_regi" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="text-center">
                      <button class="btn btn-primary mx-auto" type="submit">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="container" id="details3" style="display: none">
                <form action="" method="POST">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group input-group-outline mb-4">
                          <label  for="loan_amt" class="form-label text-primary fw-bold">Enter Loan Amount</label>
                          <input type="number" name="loan_amt" id="loan_amt" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group input-group-outline mb-4">
                          <label  for="interest" class="form-label text-primary fw-bold">Enter Interest</label>
                          <input type="number" name="interest" id="interest" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group input-group-outline mb-4">
                        <label  for="Prop_roi" class="form-label text-primary fw-bold">Enter Loan Term</label>
                        <input type="number" name="Prop_roi" id="Prop_roi" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group input-group-outline mb-4">
                        <label  for="extra_payment" class="form-label text-primary fw-bold">Extra Payment</label>
                        <input type="number" name="extra_payment" id="extra_payment" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group input-group-outline mb-4">
                        <label  for="contri_start" class="form-label text-primary fw-bold">Contribution Start After</label>
                        <input type="number" name="contri_start" id="contri_start" class="form-control" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="text-center">
                      <button class="btn btn-primary mx-auto" type="submit">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="container" id="details4" style="display: none">
                <form action="" method="POST">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group input-group-outline mb-4">
                        <label  for="ent_amt" class="form-label text-primary fw-bold">Enter Amount</label>
                        <input type="number" name="ent_amt" id="ent_amt" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group input-group-outline mb-4">
                        <label  for="Ent_roi" class="form-label text-primary fw-bold">Enter Interest</label>
                        <input type="number" name="Ent_roi" id="Ent_roi" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group input-group-outline mb-4">
                        <label  for="Prop_roi" class="form-label text-primary fw-bold">Enter Period</label>
                        <input type="number" name="Prop_roi" id="Prop_roi" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <div class="input-group input-group-static mb-4">
                          <label for="sel_tenure" class="ms-0 text-primary fw-bold col-12">Tenure</label>
                          <select class="form-control col-12" name="sel_tenure" id="sel_tenure">
                            <option value="">-- Select Tenure --</option>
                            <option value="Yet To Start">Half Yearly</option>
                            <option value="Plint">Quarterly</option>
                            <option value="Underconstruction">Monthly</option>
                            <option value="Underconstruction">forthly nightly</option>
                            <option value="Underconstruction">Weekly</option>
                            <option value="Underconstruction">Daily</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="text-center">
                      <button class="btn btn-primary mx-auto" type="submit">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock other_body %}

{% block other_js %}
  <script>
    $(document).ready(function () {
      $('#calc_details').on('change', function () {
        if (this.value == 'Loan Comparison') {
          $("#details1").show();
        }
        else {
          $("#details1").hide();
        }
        if (this.value == 'Stamp Duty And Registration') {
          $("#details2").show();
        }
        else {
          $("#details2").hide();
        }
        if (this.value == 'Extra Payment') {
          $("#details3").show();
        }
        else {
          $("#details3").hide();
        }
        if (this.value == 'EMI Calculator') {
          $("#details4").show();
        }
        else {
          $("#details4").hide();
        }
      
      });
    });
  </script>
{% endblock other_js %}