<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <style>
        body {
            background-color: #00171f
        }
        p{
			text-align: center;
			color: white;
			margin: 5rem auto
		}
    </style>

</head>

<body>
    <p> The Email Verification link has been sent to Your Email Address.</p>
    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
</body>

</html>
