<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
      <div class="container" style="margin-top: 2%">
        <figure class="text-center">   
            <h2>Additional Details</h2>
        </figure>
      </div>
    <div class="container">
        <form class="row g-3" style="margin-top: 3%;">
            <div class="col-md-2" style="margin-bottom: 3%;">
                <label for="custname1" class="form-label">Customer Name</label>
                <input type="text" class="form-control" id="custname1">
              </div>
              <div class="col-md-2" style="margin-bottom: 3%;">
                <label for="inchold1" class="form-label">Income Holder</label>
                <select class="form-select" aria-label="Default select example">
                    <!-- <option selected>Open this select menu</option> -->
                    <option selected value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
              </div>
              <div class="col-md-2" style="margin-bottom: 3%;">
                <label for="propown1" class="form-label">Property Owner</label>
                <select class="form-select" aria-label="Default select example">
                    <!-- <option selected>Open this select menu</option> -->
                    <option selected value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
              </div>    
              <div class="col-md-2" style="margin-bottom: 3%;">
                <label for="apptype1" class="form-label">Applcant Type</label>
                <select class="form-select" aria-label="Default select example">
                    <!-- <option selected>Open this select menu</option> -->
                    <option selected value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
              </div>
              <div class="col-md-2" style="margin-bottom: 3%;">
                <label for="relation1" class="form-label">Relation</label>
                <select class="form-select" aria-label="Default select example">
                    <!-- <option selected>Open this select menu</option> -->
                    <option selected value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
              </div>
              <div class="col-md-2" style="margin-bottom: 3%;">
                <label for="desg1" class="form-label">Designation</label>
                <select class="form-select" aria-label="Default select example">
                    <!-- <option selected>Open this select menu</option> -->
                    <option selected value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
              </div> 

              <!-- ----------------------------------------------------------------------------------------------------------------- -->

              <div class="col-md-2" style="margin-bottom: 3%;">
                <label for="custname2" class="form-label">Customer Name</label>
                <input type="text" class="form-control" id="custname2">
              </div>
              <div class="col-md-2" style="margin-bottom: 3%;">
                <label for="inchold2" class="form-label">Income Holder</label>
                <select class="form-select" aria-label="Default select example">
                    <!-- <option selected>Open this select menu</option> -->
                    <option selected value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
              </div>
              <div class="col-md-2" style="margin-bottom: 3%;">
                <label for="propown2" class="form-label">Property Owner</label>
                <select class="form-select" aria-label="Default select example">
                    <!-- <option selected>Open this select menu</option> -->
                    <option selected value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
              </div>    
              <div class="col-md-2" style="margin-bottom: 3%;">
                <label for="apptype2" class="form-label">Applcant Type</label>
                <select class="form-select" aria-label="Default select example">
                    <!-- <option selected>Open this select menu</option> -->
                    <option selected value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
              </div>
              <div class="col-md-2" style="margin-bottom: 3%;">
                <label for="relation2" class="form-label">Relation</label>
                <select class="form-select" aria-label="Default select example">
                    <!-- <option selected>Open this select menu</option> -->
                    <option selected value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
              </div>
              <div class="col-md-2" style="margin-bottom: 3%;">
                <label for="desg2" class="form-label">Designation</label>
                <select class="form-select" aria-label="Default select example">
                    <!-- <option selected>Open this select menu</option> -->
                    <option selected value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
              </div> 

              <!-- ----------------------------------------------------------------------------------------------------------------- -->

              <div class="col-md-2" style="margin-bottom: 3%;">
                <label for="custname3" class="form-label">Customer Name</label>
                <input type="text" class="form-control" id="custname3">
              </div>
              <div class="col-md-2" style="margin-bottom: 3%;">
                <label for="inchold3" class="form-label">Income Holder</label>
                <select class="form-select" aria-label="Default select example">
                    <!-- <option selected>Open this select menu</option> -->
                    <option selected value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
              </div>
              <div class="col-md-2" style="margin-bottom: 3%;">
                <label for="propown3" class="form-label">Property Owner</label>
                <select class="form-select" aria-label="Default select example">
                    <!-- <option selected>Open this select menu</option> -->
                    <option selected value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
              </div>    
              <div class="col-md-2" style="margin-bottom: 3%;">
                <label for="apptype3" class="form-label">Applcant Type</label>
                <select class="form-select" aria-label="Default select example">
                    <!-- <option selected>Open this select menu</option> -->
                    <option selected value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
              </div>
              <div class="col-md-2" style="margin-bottom: 3%;">
                <label for="relation3" class="form-label">Relation</label>
                <select class="form-select" aria-label="Default select example">
                    <!-- <option selected>Open this select menu</option> -->
                    <option selected value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
              </div>
              <div class="col-md-2" style="margin-bottom: 3%;">
                <label for="desg3" class="form-label">Designation</label>
                <select class="form-select" aria-label="Default select example">
                    <!-- <option selected>Open this select menu</option> -->
                    <option selected value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
              </div> 
              <!-- ----------------------------------------------------------------------------------------------------------------- -->
              <div class="col-4" align = center>
                <button type="button" class="btn btn-outline-danger" style="padding-left: 40px ; padding-right: 40px;">Cancel</button>
              </div>

              <div class="col-4" align = center>
                <button type="button" class="btn btn-outline-success" style="padding-left: 40px ; padding-right: 40px;">Save & Submit</button>
              </div>

              <div class="col-4" align = center>
                <button type="button" class="btn btn-outline-success" style="padding-left: 40px ; padding-right: 40px;">Next ---></button>
              </div>
    </form>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>