{% extends request.user.is_superuser|yesno:"base/base.html,base/base_non_admin_template.html" %}
{% load static %}

{% block other_css %}

<style>
  a[data-name="description"]:hover,
  a[data-name="documents"]:hover {
    color: #d9024c;
    font-weight: 600;
    cursor: pointer;
  }


  #menu_container {
    position: relative;
  }

  #menu_container>* {
    flex-basis: 50%;
  }

  #slide_container {
    position: absolute;
    border-bottom: 2px solid rgb(233 30 99 /1);
    width: 50%;
    bottom: -15%;
    transition: transform 200ms
  }


  .text_e91e63 {
    color: #e91e63;
  }
</style>
{% endblock other_css %}

{% block title %}List Lead{% endblock title %}

{% block other_body_css %}id="page-top"{% endblock other_body_css %}


{% block other_body%}

<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-3 py-24 mx-auto">
    <div class="mx-auto d-flex flex-wrap">
      <div class="flex-grow-1 mb-6 m-4">
        <h1 class="text-3xl title-font font-medium mb-4">{{lead.prefix}}.{{lead.name}}</h1>
        <div id="menu_container" class="d-flex mb-4 ">
          <a data-name="description" class="flex-grow py-0 text_e91e63 text-center text-decoration-none py-0 px-1"
            data-target="desc">Description</a>
          <a data-name="documents" class="flex-grow py-0 bord text-center text-decoration-none py-0 px-1"
            data-target="docs">Uploaded Docs</a>
          <div id="slide_container"></div>
        </div>



        <div class="ms-auto py-3 px-1 my-4 mt-lg-0 mt-4">
          <div class="ms-auto my-auto">
            <a href="{% url 'list_leads' %}" class="btn bg-gradient-primary btn-sm mb-0">



              </span>

              <span class='fas fa-arrow-left text py-1 px-1'>
                Back to Leads

              </span>
            </a>
          </div>
        </div>

        <div id="docs" class="list-group">
          {% for document in loan_documents %}
          <ul class="list-group">
            <a href="/media/{{document.document.name}}" target="_blank"
              class="list-group-item list-group-item-action">{{document.document.name}}</a>
            <br>
          </ul>
          {% endfor %}
        </div>

        <div id="desc">

          <div class="d-flex border-t border-gray-200 py-2">
            <span class="text-dark">Age</span>
            <span class="ms-auto px-3 text-gray-900">{{lead.age}}</span>
          </div>

          <div class="d-flex border-t border-gray-200 py-2">
            <span class="text-dark">Phone</span>
            <span class="ms-auto text-gray-900">{{lead.phone}}</span>
          </div>

          <div class="d-flex border-t border-gray-200 py-2">
            <span class="text-dark">Alt-Phone</span>
            <span class="ms-auto text-gray-900">{{lead.alt_phone}}</span>
          </div>

          <div class="d-flex border-t border-gray-200 py-2">
            <span class="text-dark">Email</span>
            <span class="ms-auto text-gray-900">{{lead.email}}</span>
          </div>

          <div class="d-flex border-t border-gray-200 py-2">
            <span class="text-dark">State</span>
            <span class="ms-auto text-gray-900 ">{{lead.state}}</span>
          </div>

          <div class="d-flex border-t border-gray-200 py-2">
            <span class="text-dark">City</span>
            <span class="ms-auto text-gray-900 ">{{lead.city}}</span>
          </div>

          <div class="d-flex border-t border-gray-200 py-2">
            <span class="text-dark">Address</span>
            <span class="ms-auto text-gray-900 ">{{lead.address}}</span>
          </div>

          <div class="d-flex border-t border-gray-200 py-2">
            <span class="text-dark">Pincode</span>
            <span class="ms-auto text-gray-900 ">{{lead.pincode}}</span>
          </div>

          <div class="d-flex border-t border-gray-200 py-2">
            <span class="text-dark">Loan Amount</span>
            <span class="ms-auto text-gray-900">{{lead.loan_amt}}</span>
          </div>


          <div class="d-flex border-t border-gray-200 py-2">
            <span class="text-dark">Product</span>
            <span class="ms-auto text-gray-900">{{lead.product}}</span>
          </div>


          <div class="d-flex border-t border-gray-200 py-2">
            <span class="text-dark">Sub-Product</span>
            <span class="ms-auto text-gray-900">{{lead.sub_product}}</span>
          </div>

          <div class="d-flex border-t border-gray-200 py-2">
            <span class="text-dark">Reference</span>
            <span class="ms-auto text-gray-900">{{lead.reference}}</span>
          </div>




          <div class="d-flex border-t border-gray-200 py-2">
            <span class="text-dark">Added-By</span>
            <span class="ms-auto text-gray-900">{{lead.added_by}}</span>
          </div>

        </div>











      </div>
    </div>
  </div>
</section>















{% endblock other_body %}


{% block other_js %}

<script>
  /* $(document).ready(function () {
    Javascript method's body can be found in assets/js/demos.js
    md.initDashboardPageCharts();
  });*/

  document.getElementById("docs").style.display = "none";



  $('a[data-name="description"]').click(function () {
    $('a[data-name="documents"]').removeClass("text_e91e63")
    $('a[data-name="description"]').addClass("text_e91e63")
    $('#slide_container').css("transform", "translateX(0%)");

    $('#docs').hide();
    var target = '#' + $(this).data('target');
    $(target).show();
  })

  $('a[data-name="documents"]').click(function () {
    $('a[data-name="description"]').removeClass("text_e91e63")
    $('a[data-name="documents"]').addClass("text_e91e63")
    $('#slide_container').css("transform", "translateX(100%)");
    $('#desc').hide();

    var target = '#' + $(this).data('target');
    $(target).show();
  })
</script>

{% endblock other_js %}