{% extends 'base/base.html' %}
{% load static %}

{% block other_css %}
<link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
{% endblock other_css %}

{% block title %}List Lead{% endblock title %}

{% block other_body_css %}id="page-top"{% endblock other_body_css %}
{% block other_body%}

<head>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-3 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h1 class="text-[#e91e63] text-3xl title-font font-medium mb-4">{{lead.prefix}}.{{lead.name}}</h1>
        <div class="flex mb-4 ">
          <a class="flex-grow  border-b-2  py-0 border-[#e91e63]  text-[#e91e63] py-0 px-1">Description</a>

        </div>

        <div class="ms-auto py-3 px-1 my-4 mt-lg-0 mt-4">
          <div class="ms-auto my-auto">
            <a href="{% url 'account:list_leads' %}" class="btn bg-gradient-primary btn-sm mb-0">



              </span>

              <span class='fas fa-arrow-left text py-1 px-1'>
                Back to Leads

              </span>
            </a>
          </div>
        </div>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Age</span>
          <span class="ml-auto px-3 text-gray-900">{{lead.age}}</span>
        </div>

        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Phone</span>
          <span class="ml-auto text-gray-900">{{lead.phone}}</span>
        </div>

        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Alt-Phone</span>
          <span class="ml-auto text-gray-900">{{lead.alt_phone}}</span>
        </div>

        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Email</span>
          <span class="ml-auto text-gray-900">{{lead.email}}</span>
        </div>

        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">State</span>
          <span class="ml-auto text-gray-900 ">{{lead.state}}</span>
        </div>

        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">City</span>
          <span class="ml-auto text-gray-900 ">{{lead.city}}</span>
        </div>

        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Address</span>
          <span class="ml-auto text-gray-900 ">{{lead.address}}</span>
        </div>

        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Pincode</span>
          <span class="ml-auto text-gray-900 ">{{lead.pincode}}</span>
        </div>

        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Loan Amount</span>
          <span class="ml-auto text-gray-900">{{lead.loan_amt}}</span>
        </div>


        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Product</span>
          <span class="ml-auto text-gray-900">{{lead.product}}</span>
        </div>


        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Sub-Product</span>
          <span class="ml-auto text-gray-900">{{lead.sub_product}}</span>
        </div>

        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Reference</span>
          <span class="ml-auto text-gray-900">{{lead.reference}}</span>
        </div>




        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Added-By</span>
          <span class="ml-auto text-gray-900">{{lead.added_by}}</span>
        </div>











      </div>
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
        src="https://dummyimage.com/400x400">
    </div>
  </div>
</section>

<div>
  <p>This is second page</p>
  <ul>
    {% for lead in leads %}
    <li>{{ lead.name }}</li>
    {% endfor %}
  </ul>
</div>













{% endblock other_body %}
{% block other_js %}
<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!--   Core JS Files   -->
<script src="{% static 'assets/js/core/jquery.min.js' %} "></script>
<script src="{% static 'assets/js/core/popper.min.js'%} "></script>
<script src="{% static 'assets/js/core/bootstrap-material-design.min.js' %} "></script>
<script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %} "></script>
<!-- Plugin for the momentJs  -->
<script src="{%static 'assets/js/plugins/moment.min.js' %} "></script>
<!--  Plugin for Sweet Alert -->
<script src="../assets/js/plugins/sweetalert2.js"></script>
<!-- Forms Validations Plugin -->
<script src=" {% static ' assets/js/plugins/jquery.validate.min.js' %}"></script>
<!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
<script src=" {% static 'assets/js/plugins/jquery.bootstrap-wizard.js' %} "></script>
<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="{% static 'assets/js/plugins/bootstrap-selectpicker.js' %} "></script>
<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
<script src=" {% static 'assets/js/plugins/bootstrap-datetimepicker.min.js' %} "></script>
<!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
<script src="{% static ' assets/js/plugins/jquery.dataTables.min.js' %}"></script>
<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script src="{% static 'assets/js/plugins/bootstrap-tagsinput.js' %} "></script>
<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="../assets/js/plugins/jasny-bootstrap.min.js"></script>
<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
<script src="../assets/js/plugins/fullcalendar.min.js"></script>
<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
<script src="{% static 'assets/js/plugins/jquery-jvectormap.js' %} "></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static 'assets/js/plugins/nouislider.min.js' %} "></script>
<!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
<!-- Library for adding dinamically elements -->
<script src="{%static 'assets/js/plugins/arrive.min.js' %} "></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chartist JS -->
<script src="{% static 'assets/js/plugins/chartist.min.js'%} "></script>
<!--  Notifications Plugin    -->
<script src=" {% static ' assets/js/plugins/bootstrap-notify.js' %}"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static 'assets/js/material-dashboard.js?v=2.1.2' %} " type="text/javascript"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="{% static ' assets/demo/demo.js'%}"></script>
<script>
  $(document).ready(function () {
    $().ready(function () {
      $sidebar = $(".sidebar");

      $sidebar_img_container = $sidebar.find(
        ".sidebar-background"
      );

      $full_page = $(".full-page");

      $sidebar_responsive = $("body > .navbar-collapse");

      window_width = $(window).width();

      fixed_plugin_open = $(
        ".sidebar .sidebar-wrapper .nav li.active a p"
      ).html();

      if (
        window_width > 767 &&
        fixed_plugin_open == "Dashboard"
      ) {
        if (
          $(".fixed-plugin .dropdown").hasClass(
            "show-dropdown"
          )
        ) {
          $(".fixed-plugin .dropdown").addClass("open");
        }
      }

      $(".fixed-plugin a").click(function (event) {
        // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
        if ($(this).hasClass("switch-trigger")) {
          if (event.stopPropagation) {
            event.stopPropagation();
          } else if (window.event) {
            window.event.cancelBubble = true;
          }
        }
      });

      $(".fixed-plugin .active-color span").click(
        function () {
          $full_page_background = $(
            ".full-page-background"
          );

          $(this).siblings().removeClass("active");
          $(this).addClass("active");

          var new_color = $(this).data("color");

          if ($sidebar.length != 0) {
            $sidebar.attr("data-color", new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr("filter-color", new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr(
              "data-color",
              new_color
            );
          }
        }
      );

      $(".fixed-plugin .background-color .badge").click(
        function () {
          $(this).siblings().removeClass("active");
          $(this).addClass("active");

          var new_color = $(this).data("background-color");

          if ($sidebar.length != 0) {
            $sidebar.attr(
              "data-background-color",
              new_color
            );
          }
        }
      );

      $(".fixed-plugin .img-holder").click(function () {
        $full_page_background = $(".full-page-background");

        $(this)
          .parent("li")
          .siblings()
          .removeClass("active");
        $(this).parent("li").addClass("active");

        var new_image = $(this).find("img").attr("src");

        if (
          $sidebar_img_container.length != 0 &&
          $(".switch-sidebar-image input:checked").length !=
          0
        ) {
          $sidebar_img_container.fadeOut(
            "fast",
            function () {
              $sidebar_img_container.css(
                "background-image",
                'url("' + new_image + '")'
              );
              $sidebar_img_container.fadeIn("fast");
            }
          );
        }

        if (
          $full_page_background.length != 0 &&
          $(".switch-sidebar-image input:checked").length !=
          0
        ) {
          var new_image_full_page = $(
              ".fixed-plugin li.active .img-holder"
            )
            .find("img")
            .data("src");

          $full_page_background.fadeOut(
            "fast",
            function () {
              $full_page_background.css(
                "background-image",
                'url("' + new_image_full_page + '")'
              );
              $full_page_background.fadeIn("fast");
            }
          );
        }

        if (
          $(".switch-sidebar-image input:checked").length ==
          0
        ) {
          var new_image = $(
              ".fixed-plugin li.active .img-holder"
            )
            .find("img")
            .attr("src");
          var new_image_full_page = $(
              ".fixed-plugin li.active .img-holder"
            )
            .find("img")
            .data("src");

          $sidebar_img_container.css(
            "background-image",
            'url("' + new_image + '")'
          );
          $full_page_background.css(
            "background-image",
            'url("' + new_image_full_page + '")'
          );
        }

        if ($sidebar_responsive.length != 0) {
          $sidebar_responsive.css(
            "background-image",
            'url("' + new_image + '")'
          );
        }
      });

      $(".switch-sidebar-image input").change(function () {
        $full_page_background = $(".full-page-background");

        $input = $(this);

        if ($input.is(":checked")) {
          if ($sidebar_img_container.length != 0) {
            $sidebar_img_container.fadeIn("fast");
            $sidebar.attr("data-image", "#");
          }

          if ($full_page_background.length != 0) {
            $full_page_background.fadeIn("fast");
            $full_page.attr("data-image", "#");
          }

          background_image = true;
        } else {
          if ($sidebar_img_container.length != 0) {
            $sidebar.removeAttr("data-image");
            $sidebar_img_container.fadeOut("fast");
          }

          if ($full_page_background.length != 0) {
            $full_page.removeAttr("data-image", "#");
            $full_page_background.fadeOut("fast");
          }

          background_image = false;
        }
      });

      $(".switch-sidebar-mini input").change(function () {
        $body = $("body");

        $input = $(this);

        if (md.misc.sidebar_mini_active == true) {
          $("body").removeClass("sidebar-mini");
          md.misc.sidebar_mini_active = false;

          $(
            ".sidebar .sidebar-wrapper, .main-panel"
          ).perfectScrollbar();
        } else {
          $(
            ".sidebar .sidebar-wrapper, .main-panel"
          ).perfectScrollbar("destroy");

          setTimeout(function () {
            $("body").addClass("sidebar-mini");

            md.misc.sidebar_mini_active = true;
          }, 300);
        }

        // we simulate the window Resize so the charts will get updated in realtime.
        var simulateWindowResize = setInterval(function () {
          window.dispatchEvent(new Event("resize"));
        }, 180);

        // we stop the simulation of Window Resize after the animations are completed
        setTimeout(function () {
          clearInterval(simulateWindowResize);
        }, 1000);
      });
    });
  });
</script>
<script>
  $(document).ready(function () {
    // Javascript method's body can be found in assets/js/demos.js
    md.initDashboardPageCharts();
  });
</script>
{% endblock other_js %}
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>

















{% comment %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <p>This is second page</p>
  <ul>
    {% for lead in leads %}
    <li>{{ lead.name }}</li>
    {% endfor %}
  </ul>

</head>

<body>

</body>

</html> {% endcomment %}