{% extends request.user.is_superuser|yesno:"base/base.html,base/base_non_admin_template.html" %}
{% load static %}


{% block title %}List Lead{% endblock title %}

{% block other_body_css %}id="page-top"{% endblock other_body_css %}
{% block other_body%}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header pb-0">
          <div class="d-lg-flex">
            <div>
              <h5 class="mb-0">LEADS</h5>
            </div>
            <div class="ms-auto my-auto mt-lg-0 mt-4">
              <div class="ms-auto my-auto">
                <a href="{% url 'add_leads' %}" class="btn bg-gradient-primary btn-sm mb-0">
                  <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                  </span>
                  <span class="text">Add Customer Details</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body px-0 pb-0">
          <div class="container px-5 py-24 mx-auto flex flex-wrap">
            <table class="table table-flush" id="products-list">
              <thead class="table table-bordered">
                <tr style='text-align: center'>
                  <th>Serial No.</th>
                  <th>Name</th>
                  <th>Mobile No.</th>
                  <th>Eligibility</th>
                  {% comment %} <th>Check Eligibility</th> {% endcomment %}
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for lead in listleads %}
                <tr style='text-align: center'>
                  <td> {{ forloop.counter }}.</td>
                  <td>{{ lead.name }}</td>
                  <td>{{ lead.phone }}</td>
                  <td class="text-sm">
                    <a href={% url 'account_eligibility' id=lead.pk %} title="Check Eligibility">
                      <span class="text-warning">
                        <i class="fa fa-check-circle"></i>
                      </span>
                    </a>
                  </td>

                  <td class="text-sm">
                    <a href="/account/{{lead.pk}}" data-bs-toggle="tooltip" data-bs-original-title="Preview product">
                      <i class="material-icons text-secondary position-relative text-lg">visibility</i>
                    </a>
                    <a href="{% url 'lead-update' lead.pk %}" class="mx-3" data-bs-toggle="tooltip"
                      data-bs-original-title="Edit product">
                      <i class="material-icons text-secondary position-relative text-lg">drive_file_rename_outline</i>
                    </a>
                    <a href="{% url 'lead-delete' lead.pk %}" data-bs-toggle="tooltip"
                      data-bs-original-title="Delete product">
                      <i class="material-icons text-secondary position-relative text-lg">delete</i>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% endblock other_body %}
        {% comment %}
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
          <i class="fas fa-angle-up"></i>
        </a>

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
          <i class="fas fa-angle-up"></i>
        </a>
        {% endcomment %}

        {% comment %}
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
          <i class="fas fa-angle-up"></i>
        </a> {% endcomment %}

        {% block other_js %}
        <!-- Bootstrap core JavaScript-->

        <script>
          $(document).ready(function () {
            $().ready(function () {
              $sidebar = $(".sidebar");

              $sidebar_img_container = $sidebar.find(
                ".sidebar-background"
              );

              $full_page = $(".full-page");

              $sidebar_responsive = $("body > .navbar-collapse");

              window_width = $(window).width();

              fixed_plugin_open = $(
                ".sidebar .sidebar-wrapper .nav li.active a p"
              ).html();

              if (
                window_width > 767 &&
                fixed_plugin_open == "Dashboard"
              ) {
                if (
                  $(".fixed-plugin .dropdown").hasClass(
                    "show-dropdown"
                  )
                ) {
                  $(".fixed-plugin .dropdown").addClass("open");
                }
              }

              $(".fixed-plugin a").click(function (event) {
                // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                if ($(this).hasClass("switch-trigger")) {
                  if (event.stopPropagation) {
                    event.stopPropagation();
                  } else if (window.event) {
                    window.event.cancelBubble = true;
                  }
                }
              });

              $(".fixed-plugin .active-color span").click(
                function () {
                  $full_page_background = $(
                    ".full-page-background"
                  );

                  $(this).siblings().removeClass("active");
                  $(this).addClass("active");

                  var new_color = $(this).data("color");

                  if ($sidebar.length != 0) {
                    $sidebar.attr("data-color", new_color);
                  }

                  if ($full_page.length != 0) {
                    $full_page.attr("filter-color", new_color);
                  }

                  if ($sidebar_responsive.length != 0) {
                    $sidebar_responsive.attr(
                      "data-color",
                      new_color
                    );
                  }
                }
              );

              $(".fixed-plugin .background-color .badge").click(
                function () {
                  $(this).siblings().removeClass("active");
                  $(this).addClass("active");

                  var new_color = $(this).data("background-color");

                  if ($sidebar.length != 0) {
                    $sidebar.attr(
                      "data-background-color",
                      new_color
                    );
                  }
                }
              );

              $(".fixed-plugin .img-holder").click(function () {
                $full_page_background = $(".full-page-background");

                $(this)
                  .parent("li")
                  .siblings()
                  .removeClass("active");
                $(this).parent("li").addClass("active");

                var new_image = $(this).find("img").attr("src");

                if (
                  $sidebar_img_container.length != 0 &&
                  $(".switch-sidebar-image input:checked").length !=
                  0
                ) {
                  $sidebar_img_container.fadeOut(
                    "fast",
                    function () {
                      $sidebar_img_container.css(
                        "background-image",
                        'url("' + new_image + '")'
                      );
                      $sidebar_img_container.fadeIn("fast");
                    }
                  );
                }

                if (
                  $full_page_background.length != 0 &&
                  $(".switch-sidebar-image input:checked").length !=
                  0
                ) {
                  var new_image_full_page = $(
                      ".fixed-plugin li.active .img-holder"
                    )
                    .find("img")
                    .data("src");

                  $full_page_background.fadeOut(
                    "fast",
                    function () {
                      $full_page_background.css(
                        "background-image",
                        'url("' + new_image_full_page + '")'
                      );
                      $full_page_background.fadeIn("fast");
                    }
                  );
                }

                if (
                  $(".switch-sidebar-image input:checked").length ==
                  0
                ) {
                  var new_image = $(
                      ".fixed-plugin li.active .img-holder"
                    )
                    .find("img")
                    .attr("src");
                  var new_image_full_page = $(
                      ".fixed-plugin li.active .img-holder"
                    )
                    .find("img")
                    .data("src");

                  $sidebar_img_container.css(
                    "background-image",
                    'url("' + new_image + '")'
                  );
                  $full_page_background.css(
                    "background-image",
                    'url("' + new_image_full_page + '")'
                  );
                }

                if ($sidebar_responsive.length != 0) {
                  $sidebar_responsive.css(
                    "background-image",
                    'url("' + new_image + '")'
                  );
                }
              });

              $(".switch-sidebar-image input").change(function () {
                $full_page_background = $(".full-page-background");

                $input = $(this);

                if ($input.is(":checked")) {
                  if ($sidebar_img_container.length != 0) {
                    $sidebar_img_container.fadeIn("fast");
                    $sidebar.attr("data-image", "#");
                  }

                  if ($full_page_background.length != 0) {
                    $full_page_background.fadeIn("fast");
                    $full_page.attr("data-image", "#");
                  }

                  background_image = true;
                } else {
                  if ($sidebar_img_container.length != 0) {
                    $sidebar.removeAttr("data-image");
                    $sidebar_img_container.fadeOut("fast");
                  }

                  if ($full_page_background.length != 0) {
                    $full_page.removeAttr("data-image", "#");
                    $full_page_background.fadeOut("fast");
                  }

                  background_image = false;
                }
              });

              $(".switch-sidebar-mini input").change(function () {
                $body = $("body");

                $input = $(this);

                if (md.misc.sidebar_mini_active == true) {
                  $("body").removeClass("sidebar-mini");
                  md.misc.sidebar_mini_active = false;

                  $(
                    ".sidebar .sidebar-wrapper, .main-panel"
                  ).perfectScrollbar();
                } else {
                  $(
                    ".sidebar .sidebar-wrapper, .main-panel"
                  ).perfectScrollbar("destroy");

                  setTimeout(function () {
                    $("body").addClass("sidebar-mini");

                    md.misc.sidebar_mini_active = true;
                  }, 300);
                }

                // we simulate the window Resize so the charts will get updated in realtime.
                var simulateWindowResize = setInterval(function () {
                  window.dispatchEvent(new Event("resize"));
                }, 180);

                // we stop the simulation of Window Resize after the animations are completed
                setTimeout(function () {
                  clearInterval(simulateWindowResize);
                }, 1000);
              });
            });
          });
        </script>

        {% endblock other_js %}
        </td>
        </tr>
        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
</div>