
{% extends 'home/base/base.html' %}
{% load static %}

{% block title %}Creative Finserve{% endblock title %}

{% block other_body %}
	<div class="container mt-5 mb-4">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-8 mx-auto">
                <div class="card z-index-2 pb-3 shadow-lg">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                        <div class="bg-gradient-dark shadow-dark border-radius-lg p-3 text-center">
                            <h4 class="card-title fw-bold text-light">Password Reset Form</h4>
                        </div>
                    </div>
                    <div class="card-body text-center pb-0">
                        <form method="post">
                            {% csrf_token %}
							<table>
								{{form.as_p}}
							</table>
							<span class="bmd-form-group text-danger">
								{% for message in messages %}
									{{message}}
								{% endfor %}
							</span>
							<p class="text-center m-0">
								<button type="submit" class="btn bg-gradient-dark">Submit</button>
							</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock other_body %}