{% extends 'home/base/base.html' %}
{% load static %}

{% block title %}Creative Finserve{% endblock title %}

{% block other_body %}
    <div class="container py-4 text-center">
        <h2>Password Reset</h3>
        <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive it shortly.</p>
        <p>If you don’t receive an email, please make sure you’ve entered the "Email Address", you registered with. Check your spam folder.</p>
    </div>
{% endblock other_body %}