{% extends 'base/base.html' %}
{% load static %}

{% block other_css %}
{% endblock other_css %}

{% block title %}Registration Form{% endblock title %}

{% block other_body %}
    <h1 class="mb-5 mt-3 display-3 text-center bg-transparent text-dark">New Partner Registration</h1>
    <form action="register" method="POST" class="bg-white rounded p-5 shadow-blur border-0" style="width: 95%; margin: 25px auto;">  
        {% csrf_token %}     
        <div class="row">
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                  <label for="fname" class="form-label text-primary fw-bold">Full Name</label>
                  <input type="text" name="fname" id="fname" class="form-control" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                  <label for="email" class="form-label text-primary fw-bold">E-mail</label>
                  <input type="email" name="email" id="email" class="form-control" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                  <label for="phone" class="form-label text-primary fw-bold">Mobile Number</label>
                  <input type="tel" pattern="[1-9]{1}[0-9]{9}" name="phone" id="phone" class="form-control" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                  <label for="alt_phone" class="form-label text-primary fw-bold">Alternate Mobile Number</label>
                  <input type="tel" pattern="[1-9]{1}[0-9]{9}" name="alt_phone" id="alt_phone" class="form-control" required>
              </div>
            </div>
            <div class="col-md-4">
              <label for="address" class="form-label text-primary fw-bold mb-0">Address</label>
              <div class="input-group input-group-dynamic mb-4">
                <textarea name="address" id="address" class="form-control" rows="1" placeholder="eg. Address" spellcheck="false" required></textarea>
              </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                <div class="input-group input-group-static mb-4">
                    <label for="designation" class="ms-0 text-primary fw-bold col-12">Designation</label>
                    <select class="form-control col-12" name="designation" id="select_opt" onchange="showfield(this.options[this.selectedIndex].value)" required>
                    <option value="">-- Select Designation --</option>
                    <option>Creative Finserve Centre</option>
                    </select>
                </div>
                </div>
            </div>
            <div class="col-md-4" id="div1">
            </div>
        </div>
        <div class="container text-danger">
            {% for message in messages %}
                {{message}}
            {% endfor %}
        </div>
        <p class="text-center">By clicking "Register", you agree to our 
            <a href="#" class="text-info">Terms & Conditions</a>.
        </p>
        <div class="row justify-content-center">
            <button type="submit" class="col-3 btn bg-gradient-primary">Register</button>
        </div>
        <div class="container text-center">
            <p>Already have an account? 
                <a href="login" class="text-info">Login</a>.
            </p>
        </div>
    </form>
{% endblock other_body %}

{% block other_js %}
    <script>
        function showfield(name)
        {
            if(name=='Other')
                document.getElementById('div1').innerHTML = 'Other: <input type="text" name="other" />';
            else 
                document.getElementById('div1').innerHTML='';
        }
    </script>
{% endblock other_js %}