{% extends request.user.is_superuser|yesno:"base/base.html,base/register_non_admin_base_template.html" %}
{% load static %}


{% block other_css %}
<link rel="stylesheet" href="{% static 'material_2_pro_assets/css/agreement.css' %}" />

<style>
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 750px;
    }
  }

  .close-btn:hover{
    opacity : 1
  }

  .close-btn {
    border : none;
    outline : none;
    background : none;
    opacity : 0.7
  }
</style>
{% endblock other_css %}

{% block title %}Registration Form{% endblock title %}

{% block other_body %}
<h1 class="mb-5 mt-3 display-3 text-center bg-transparent text-dark">New Partner Registration</h1>
<form action="{% url 'register' %}" method="POST" class="bg-white rounded p-5 shadow-blur border-0"
  style="width: 95%; margin: 25px auto;">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-4">
      <div class="input-group input-group-outline mb-4">
        <label for="fname" class="form-label text-primary fw-bold">Full Name</label>
        <input type="text" name="fname" id="fname" class="form-control" required>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group input-group-outline mb-4">
        <label for="password" class="form-label text-primary fw-bold">Password</label>
        <input type="password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$" name="password"
          oninvalid="this.setCustomValidity('Password must be between 8-12 characters with atleast 1 uppercase,1 lowercase ,and 1 special character.')"
          oninput="this.setCustomValidity('')" id="password" class="form-control" required>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group input-group-outline mb-4">
        <label for="email" class="form-label text-primary fw-bold">E-mail</label>
        <input type="email" name="email" id="email" class="form-control" required>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group input-group-outline mb-4">
        <label for="phone" class="form-label text-primary fw-bold">Mobile Number</label>
        <input type="tel" pattern="[1-9]{1}[0-9]{9}" name="phone" id="phone" class="form-control" maxlength="10"
          required>
      </div>
    </div>

    <div class="col-md-4">
      <label for="address" class="form-label text-primary fw-bold mb-0">Address</label>
      <div class="input-group input-group-dynamic mb-4">
        <textarea name="address" id="address" class="form-control" rows="1" placeholder="eg. Address" spellcheck="false"
          required></textarea>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row">
        <div class="input-group input-group-static mb-4">
          <label for="city" class="ms-0 text-primary fw-bold col-12">City</label>
          <select class="form-control col-12" name="city" id="city" required>
            <option value="">-- Select City --</option>
            {% for city in  cities%}
            <option value={{city.city_name}}>{{city.city_name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group input-group-outline mb-4">
        <label for="pincode" class="form-label text-primary fw-bold">PinCode</label>
        <input type="text" name="pincode" id="pincode" class="form-control" required>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group input-group-outline mb-4">
        <label for="reference" class="form-label text-primary fw-bold">How did you know about us?</label>
        <input type="text" name="reference" id="reference" class="form-control" required>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group input-group-outline mb-4">
        <label for="referral_code" class="form-label text-primary fw-bold">Referral Code</label>
        <input type="text" name="referral_code" id="referral_code" class="form-control">
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group row">
        <div class="input-group input-group-static mb-4">
          <label for="has_gst" class="ms-0 text-primary fw-bold col-12">Do you have GST?</label>
          <select class="form-control col-12" name="has_gst" id="has_gst" required>
            <option value="">-- Select Yes or No --</option>
            <option default value={{True}}>Yes</option>
            <option default value={{False}}>No</option>
          </select>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="form-group row">
        <div class="input-group input-group-static mb-4">
          <label for="system_role" class="ms-0 text-primary fw-bold col-12">System Role</label>
          <select class="form-control col-12" name="system_role" id="system_role" required>
            {% comment %} <option value="">-- Select Role --</option> {% endcomment %}
            {% if role%}
            <option default value="{{role.role}}">{{role.role}}</option>
            {% endif %}
          </select>
        </div>
      </div>
    </div>



    <div class="col-md-4">
      <div class="form-group row">
        <div class="input-group input-group-static mb-4">
          <label for="profession" class="ms-0 text-primary fw-bold col-12">Profession</label>
          <select class="form-control col-12" name="profession" id="profession"
            onchange="showfield(this.options[this.selectedIndex].value)" required>
            <option value="">-- Select Profession --</option>
            {% for profession in  professions%}
            <option value={{profession.profession}}>{{profession.profession}}</option>
            {% endfor %}
            <option>Other</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-4" id="div1">
    </div>
  </div>



  <div class="container text-danger">
    {% for message in messages %}
    {{message}}
    {% endfor %}
  </div>
  <div class="form-check p-0">
    <input type="checkbox" name="terms" id="terms" class="form-check-input" data-bs-toggle="modal"
      data-bs-target="#exampleModal" style="border-color: grey;" 
      oninvalid="this.setCustomValidity('You must agree to our Terms and Conditions before proceeding.')"
      oninput="this.setCustomValidity('')"
      required>
    <label for="terms" class="form-check-label d-inline ms-0 text-center">I agree to the <span>Terms &
        Conditions</span>.</label>
  </div>
  <div class="row justify-content-center">
    <button type="submit" class="col-3 btn bg-gradient-primary">Register</button>
  </div>
  {% if not request.user.is_authenticated %}
  <div class="container text-center">
    <p>Already have an account?
      <a href={% url "login" %} class="text-info">Login</a>.
    </p>
  </div>
  {% endif %}
</form>


<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Referral Agreement</h5>
        <button type="button" class="close-btn text-dark" style="font-size : 2rem;" data-bs-dismiss="modal"
          aria-label="Close">&times;</button>
      </div>
      <div class="modal-body">
        {% comment %} {% include 'account/Agreement.html' %} {% endcomment %}
        <div class="form-check pt-5">
          <input type="checkbox" name="agreement" id="agreement" class="form-check-input" style="border-color: grey;">
          <label for="agreement" class="form-check-label text-primary d-inline ms-0 text-center">I have read and agree
            to Creative
            Finance's <span>Terms & Conditions and Agreement Policy</span>.</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endblock other_body %}

{% block other_js %}
<script>
  function showfield(name) {
    console.log(name)
    if (name == 'Other')
      document.getElementById('div1').innerHTML =
      '  <label  for="other" class="form-label text-primary fw-bold">Other</label>' +
      '  <div class="input-group input-group-outline mb-4">' +
      '      <input type="text" name="other" id="other" class="form-control" placeholder="eg. Other Designation">' +
      '  </div>';
    else
      document.getElementById('div1').innerHTML = '';
  }

  $('input[name="agreement"]').change(function (event) {
    required_checkbox = $('input[name="terms"]')
    if (this.checked) {
      required_checkbox.prop("checked", true);
      required_checkbox.removeAttr("data-bs-target")
      required_checkbox.removeAttr("data-bs-toggle")
      console.log("Terms wala " + $('input[name="terms"]').prop('checked'))
    } else {
      required_checkbox.prop("checked", false);
      required_checkbox.attr("data-bs-target", "#exampleModal")
      required_checkbox.attr("data-bs-toggle", "modal")
      console.log("Terms wala " + $('input[name="terms"]').prop('checked'))
    }
  })


  $('input[name="terms"]').change(function (event) {
    console.log("Termsdsdsdsds wala " + this.checked)
    if (!this.checked) {
      $(this).attr("data-bs-target", "#exampleModal")
      $(this).attr("data-bs-toggle", "modal")
    }

    this.checked = false;

    $('input[name="agreement"]').prop("checked", false)

  });
</script>
{% endblock other_js %}