<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <style>
        body {
            background-color:#00a8e8;
        }
        p{
			text-align: center;
			color: white;
			margin: 5rem auto
		}
    </style>
</head>

<body>
    <p> Your Username and Password has been sent to your Registered Email Address</p>
    <p>Kindly Check and <a href = "login">Login Here</a></p>
</body>

</html>