<div class="col-md-4">
    <div class="input-group input-group-outline mb-4">
        <label for="loan_amt" class="form-label text-primary fw-bold">Loan amount required</label>
        <input type="number" name="loan_amt" id="loan_amt" class="form-control">
    </div>
</div>

<div class="col-md-4">
    <div class="input-group input-group-outline mb-4">
        <label  for="details_bout_default" class="form-label text-primary fw-bold">Details About The Default</label>
        <input type="text" name="details_bout_default" id="details_bout_default" class="form-control">
    </div>
</div>

<div class="col-md-4">
    <div class="form-group row">
        <div class="input-group input-group-static mb-4">
            <label for="salary_type" class="ms-0 text-primary fw-bold col-12">Salary Type</label>
            <select class="form-control col-12" name="salary_type" id="salary_type">
                <option value="">-- Select Salary Type --</option>
                <option value="Cash">Cash</option>
                <option value="Cheque">Cheque</option>
                <option value="Bank Credit">Bank Credit</option>
            </select>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="form-group row">
        <div class="input-group input-group-static mb-4">
        <label for="loanTaken" class="ms-0 text-primary fw-bold col-12">Have You Taken any Loan or CC in past</label>
        <select class="form-control col-12" name="loanTaken" id="loanTaken">
            <option value="">-- Yes or No --</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
        </div>
    </div>
</div>