{% extends "base/base.html" %}

{% load static %}

{% block title %}Product & Policy Master{% endblock title %}

{% block other_css %}
<link rel="stylesheet" href="{% static 'material_2_pro_assets/css/p&p_css.css' %}" />
{% endblock other_css %}

{% block other_body_css %}id="page-top"{% endblock other_body_css %}

{% block other_body %}
<div class="container" style="margin:25px auto;">
    {% csrf_token %}
    <div class="form-group row"></div>
    <div class="container p-0">
        <h1 class=" mt-3 mb-4 display-3 text-center">Product & Policy Details</h1>
        <div class="card-body p-0">
            <div class="container p-0">
                <form id="product_and_policy_form" method="POST" action="{% url 'add_products_and_policy_view' %}"
                    class="form-container bg-white rounded shadow-blur p-3" id="leadform" data-cities-url="ajax/cities/"
                    data-subproducts-url="ajax/subproducts/" data-companycat-url="{% url 'get_company_categories_data' %}">
                    {% csrf_token %}
                    <div class="row g-4 p-4">
                        {% for field in form %}
                        <div class="col-sm-4 mb-2">
                            <div class="input-group input-group-static">
                                <label class="ms-0 text-primary fw-bold">{{field.label}}</label>
                                {{ field }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>



                    <div id="company_categories"></div>



                    <div class="row g-1 mt-3 px-4">
                        <label class="col-12" style="color: black"><b>Company Type:</b></label>
                        {% for com in com_type %}
                        <div class="col-md-4 mb-2">
                            <div class="form-check">
                                <input id="company_type" class="form-check-input me-1" style="border-color: grey;" type="checkbox"
                                    value="{{com.company_type}}" name="company_type">
                                <label
                                    for="company_type" class="form-check-label ml-1 ms-0 text-primary fw-bold"><b>{{com.company_type}}</b></label>
                            </div>
                        </div>
                        {% endfor %}
                    </div>



                    <div class="row g-1 mt-3 px-4">
                        <label class="col-12" style="color: black"><b>Salary Type:</b></label>
                        {% for salary_type in s_type %}
                        <div class="col-md-4 mb-2">
                            <div class="form-check">
                                <input id="salary_type" class="form-check-input me-1" style="border-color: grey;" type="checkbox"
                                    value="{{salary_type.salary_type}}" name="salary_type">
                                <label
                                    for="salary_type" class="form-check-label ml-1 ms-0 text-primary fw-bold"><b>{{salary_type.salary_type}}</b></label>
                            </div>
                        </div>
                        {% endfor %}
                    </div>



                    <div class="row g-1 mt-3 px-4">
                        <label class="col-12" style="color: black"><b>Residence Type:</b></label>
                        {% for residence_type in res_type %}
                        <div class="col-md-4 mb-2">
                            <div class="form-check">
                                <input id="res_type" class="form-check-input me-1" style="border-color: grey;" type="checkbox"
                                    value="{{residence_type.residence_type}}" name="res_type">
                                <label
                                    for="res_type" class="form-check-label ml-1 ms-0 text-primary fw-bold"><b>{{residence_type.residence_type}}</b></label>
                            </div>
                        </div>
                        {% endfor %}
                    </div>


                    
                    <div class="mt-3 text-center">

                        <button class="btn btn-primary me-3" name="submit" type="submit">Submit</button>
                        <button class="btn btn-secondary" type="reset">Reset</button>
                    </div>



                </form>
            </div>
        </div>
    </div>




</div>



{% endblock other_body %}


{% block other_js %}

<script>
    $(document).ready(() => {

        let wrapper = $('.field_wrapper');


        $("#id_bank_names").change(function () {
            const n_url = $("#product_and_policy_form").attr("data-companycat-url");
            const bank_id = $(this).val();
            console.log(n_url)
        
            $.ajax({
              url: n_url,
              type: 'GET',
              data: {
                'bank_id': bank_id
              },
              datatype: 'JSON',
              success: function (data) {
                console.log(data)
                $("#company_categories").html(data);
              },
              error: function (error) {
                console.log(error);
              }
            });
          });





        $(wrapper).on('click', '.remove_button', function (e) {
            e.preventDefault();
            $(this).parent('div').remove(); 
        });
    })
</script>
{% endblock other_js %}