{% load static %}

<footer class="text-center text-lg-start text-white" style="background-color: #000">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-between p-4 bg-gradient-warning">
        <!-- Left -->
        <div class="me-5">
            <span>Get connected with us on social networks :</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-sm-6 col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold text-light">Creative Finserve</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 100%; background-color: #fff; height: 2px" />
                    <div class="row mb-3">
                        <div class="col">
                            suport@cfplindia.com
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            Helpline : 8828824242
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Whatsapp : 8828824141
                        </div>
                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold text-light">Company</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 100%; background-color: #fff; height: 2px" />
                    <p><a href="#!" class="text-white">Home</a></p>
                    <p><a href="#!" class="text-white">About Us</a></p>
                    <p><a href="#!" class="text-white">Blog</a></p>
                    <p><a href="#!" class="text-white">Join as a Partner</a></p>
                    <p><a href="#!" class="text-white">Contact Us</a></p>
                    <p><a href="#!" class="text-white">Privacy Policy</a></p>
                    <p><a href="#!" class="text-white">Terms and Conditions</a></p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-sm-6 col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold text-light">Services</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 100%; background-color: #fff; height: 2px" />
                    <p><a href="#!" class="text-white">Apply for a Loan</a></p>
                    <p><a href="#!" class="text-white">Get Insurance</a></p>
                    <p><a href="#!" class="text-white">Book a Property</a></p>
                    <p><a href="#!" class="text-white">Download Checklist</a></p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold text-light">Quick Eligibility</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 100%; background-color: #fff; height: 2px" />
                    <p><a href="#!" class="text-white">Calculators</a></p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-sm-6 col-md-2 col-lg-2 col-xl-3 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold text-light">Download Now</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 100%; background-color: #fff; height: 2px" />
                    <p><a href="#!" class="text-white">Join as a Partner for Android - Playstore</a></p>
                    <p><a href="#!" class="text-white">Join as a Partner for IOS - Apple Store</a></p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <hr class="mt-0 d-inline-block mx-auto" style="width: 100%; background-color: #fff; height: 2px" />
    <div class="text-center pb-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © {% now "Y" %} Copyright :
        <a class="text-white" href="">Creative Finserve</a>
    </div>
    <!-- Copyright -->
</footer>